
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.d-product-filters-wah {
  width: 100%;
  height: 137.3rem;
  position: relative;
  overflow: hidden;
  background-color: #f5fff8;
}
.d-product-filters-wah .group-1-FbP {
  width: 18.5859rem;
  height: 4.5843rem;
  position: absolute;
  left: 4.5141rem;
  top: 1.2651rem;
  display: flex;
  align-items: flex-start;
}
.d-product-filters-wah .group-1-FbP .healthybite-AiM {
  margin-right: 4.2395rem;
  font-size: 2.4892rem;
  font-weight: 400;
  line-height: 1.3475;
  letter-spacing: 0.0996rem;
  color: #32794e;
  font-family: Abril Fatface, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .group-1-FbP .group-54d {
  margin-top: 0.7349rem;
  width: 4.6465rem;
  height: 3.8494rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-167-QMo {
  width: 25rem;
  height: 27rem;
  position: absolute;
  left: 1rem;
  top: 10.9rem;
  row-gap: 1.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.d-product-filters-wah .frame-167-QMo .component-5-Wfj {
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  width: 100%;
  height: 4.2rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #32794e;
  box-shadow: 0.1rem 0.1rem 0.6rem #9e9e9e;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-167-QMo .component-5-Wfj .frame-49-3ff {
  width: 11.8rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.d-product-filters-wah .frame-167-QMo .component-5-Wfj .frame-49-3ff .distributor-menu-icons-PjX {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-167-QMo .component-5-Wfj .frame-49-3ff .dashboard-Wp9 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #252525;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-167-QMo .component-1-NLZ {
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  width: 100%;
  height: 4.2rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-167-QMo .component-1-NLZ .frame-49-WBs {
  width: 9.7rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.d-product-filters-wah .frame-167-QMo .component-1-NLZ .frame-49-WBs .distributor-menu-icons-4UH {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-167-QMo .component-1-NLZ .frame-49-WBs .dashboard-zMw {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #252525;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-167-QMo .component-2-5PP {
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  width: 100%;
  height: 4.2rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-167-QMo .component-2-5PP .frame-49-RTF {
  width: 6.9rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.d-product-filters-wah .frame-167-QMo .component-2-5PP .frame-49-RTF .distributor-menu-icons-n2u {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-167-QMo .component-2-5PP .frame-49-RTF .dashboard-86m {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #252525;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-167-QMo .component-3-Dtu {
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  width: 100%;
  height: 4.2rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-167-QMo .component-3-Dtu .frame-49-NG1 {
  width: 7.9rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.d-product-filters-wah .frame-167-QMo .component-3-Dtu .frame-49-NG1 .distributor-menu-icons-XPo {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-167-QMo .component-3-Dtu .frame-49-NG1 .dashboard-G6V {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #252525;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-167-QMo .component-4-xk1 {
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  width: 100%;
  height: 4.2rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-167-QMo .component-4-xk1 .frame-49-777 {
  width: 12.3rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.d-product-filters-wah .frame-167-QMo .component-4-xk1 .frame-49-777 .distributor-menu-icons-fPX {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-167-QMo .component-4-xk1 .frame-49-777 .dashboard-1CV {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #252525;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .product-analysis-W9F {
  width: 14.9rem;
  height: 2.5rem;
  position: absolute;
  left: 30rem;
  top: 4rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3888888889;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.d-product-filters-wah .frame-168-zaD {
  box-sizing: border-box;
  padding: 1.5rem 47.4rem 1.5rem 2.5rem;
  width: 58.2rem;
  height: 5.2rem;
  position: absolute;
  left: 30rem;
  top: 9.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: solid 0.1rem #32794e;
  box-shadow: inset -0.2rem -0.5rem 0.6rem rgba(50, 121, 78, 0.5)), 0 0.2rem 0.6rem #9e9e9e;
  background-color: #ffffff;
  border-radius: 3rem;
}
.d-product-filters-wah .frame-168-zaD .search-icon-67T {
  margin-right: 1rem;
  width: 2.2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-168-zaD .search-dNH {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd {
  width: 112rem;
  height: 118.2rem;
  position: absolute;
  left: 30rem;
  top: 19.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.d-product-filters-wah .frame-214-Hxd .frame-213-czu {
  margin-bottom: 2.5rem;
  width: 100%;
  height: 3.4rem;
  position: relative;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-213-czu .rectangle-131-B2R {
  width: 112rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 3.2rem;
  background: radial-gradient(50% 50% at 50% 50%, #beeac2 0%, #d9eabe 100%);
}
.d-product-filters-wah .frame-214-Hxd .frame-213-czu .frame-212-UXK {
  width: 54.2rem;
  height: 3.4rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.d-product-filters-wah .frame-214-Hxd .frame-213-czu .frame-212-UXK .frame-174-RSZ {
  width: 9.7rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #198754;
  box-sizing: border-box;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-213-czu .frame-212-UXK .auto-group-pukw-7aH {
  box-sizing: border-box;
  padding: 0.6rem 0rem 0.6rem 3.5rem;
  height: 100%;
  display: flex;
  column-gap: 4.5rem;
  align-items: center;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-213-czu .frame-212-UXK .auto-group-pukw-7aH .delivered-SMf {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-213-czu .frame-212-UXK .auto-group-pukw-7aH .pending-PGu {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-213-czu .frame-212-UXK .auto-group-pukw-7aH .cancelled-Xe1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-213-czu .frame-212-UXK .auto-group-pukw-7aH .returned-gG1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 {
  box-sizing: border-box;
  padding: 3rem 1rem 4rem 1rem;
  width: 100%;
  height: 112.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #32794e;
  box-shadow: inset -0.2rem -0.5rem 0.6rem rgba(50, 121, 78, 0.5)), inset 0.2rem 0.4rem 0.3rem rgba(50, 121, 78, 0.5)), 0 0.2rem 0.6rem #9e9e9e;
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd {
  margin-bottom: 17.4rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .table-heading-uPf {
  margin: 0rem 0.4rem 1.5rem 0rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .table-heading-uPf .order-EB3 {
  margin: 0rem 1.7rem 1.6rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .table-heading-uPf .order-EB3 .order-id-yPX {
  margin-right: 0.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  letter-spacing: 0.012rem;
  color: #777777;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .table-heading-uPf .order-EB3 .sorting-szh {
  margin-top: 0rem;
  width: 0.9rem;
  height: 1.2533rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .table-heading-uPf .customer-26u {
  margin: 0rem 11rem 1.6rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .table-heading-uPf .customer-26u .customer-ZsX {
  margin-right: 0.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  letter-spacing: 0.012rem;
  color: #777777;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .table-heading-uPf .customer-26u .sorting-VWH {
  margin-top: 0rem;
  width: 0.9rem;
  height: 1.2533rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .table-heading-uPf .product-Eim {
  margin: 0rem 26.3rem 1.6rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .table-heading-uPf .product-Eim .product-PLm {
  margin-right: 0.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  letter-spacing: 0.012rem;
  color: #777777;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .table-heading-uPf .product-Eim .sorting-iP3 {
  margin-top: 0rem;
  width: 0.9rem;
  height: 1.2533rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .table-heading-uPf .price-T5j {
  margin: 0rem 4.3rem 1.6rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .table-heading-uPf .price-T5j .price-NiV {
  margin-right: 0.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  letter-spacing: 0.012rem;
  color: #777777;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .table-heading-uPf .price-T5j .sorting-hEy {
  margin-top: 0rem;
  width: 0.9rem;
  height: 1.2533rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .table-heading-uPf .date-qc5 {
  margin: 0rem 2.1rem 1.6rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .table-heading-uPf .date-qc5 .ordered-on-n1X {
  margin-right: 0.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  letter-spacing: 0.012rem;
  color: #777777;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .table-heading-uPf .date-qc5 .sorting-ubw {
  margin-top: 0rem;
  width: 0.9rem;
  height: 1.2533rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .table-heading-uPf .payment-Sbs {
  margin-right: 3.4rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .table-heading-uPf .payment-Sbs .payment-method-oSR {
  margin-right: 0.8rem;
  max-width: 5.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  letter-spacing: 0.012rem;
  color: #777777;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .table-heading-uPf .payment-Sbs .sorting-7xu {
  width: 0.9rem;
  height: 1.2533rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .table-heading-uPf .delivery-status-5Pw {
  margin: 0.2rem 8rem 0rem 0rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .table-heading-uPf .delivery-status-5Pw .delivery-status-dAZ {
  margin-right: 0.8rem;
  max-width: 4.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  letter-spacing: 0.012rem;
  color: #777777;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .table-heading-uPf .delivery-status-5Pw .sorting-pVw {
  width: 0.9rem;
  height: 1.2533rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .table-heading-uPf .action-yNq {
  margin-top: 0.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  letter-spacing: 0.012rem;
  color: #777777;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD {
  width: 100%;
  row-gap: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-1-2ru {
  box-sizing: border-box;
  padding: 1.8rem 1rem 1.8rem 0rem;
  width: 100%;
  height: 7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #dddddd;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-1-2ru .rectangle-134-YqF {
  margin: 0rem 1.5rem 0.1rem 0rem;
  width: 1.5rem;
  height: 1.5rem;
  border: solid 0.1rem #dddddd;
  box-sizing: border-box;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-1-2ru .gf-fQ5 {
  margin: 0rem 3rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-1-2ru .jonathan-james-NZP {
  margin: 0rem 7.9rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-1-2ru .adidas-mens-restound-m-running-shoe-HRT {
  margin: 0rem 6rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-1-2ru .item-1699-nND {
  margin: 0rem 3.9rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-1-2ru .item-10-04-2023-giV {
  margin: 0rem 3rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-1-2ru .paytm-baZ {
  margin: 0rem 6rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-1-2ru .delivered-7oo {
  margin: 0rem 8rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #4bb543;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-1-2ru .action-button-qjo {
  width: 3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-1-2ru .action-button-qjo .rectangle-97-oRj {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0.4rem;
  background-color: rgba(255, 115, 29, 0.3000000119);
  border-radius: 0.5rem;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-1-2ru .action-button-qjo .item--Xcd {
  width: 1.8rem;
  height: 2.7rem;
  position: absolute;
  left: 0.7rem;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.02rem;
  color: #df5e0f;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-2-2JV {
  box-sizing: border-box;
  padding: 1.8rem 1rem 1.8rem 0rem;
  width: 100%;
  height: 7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #dddddd;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-2-2JV .rectangle-134-YGq {
  margin: 0rem 1.5rem 0.1rem 0rem;
  width: 1.5rem;
  height: 1.5rem;
  border: solid 0.1rem #dddddd;
  box-sizing: border-box;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-2-2JV .gf-fsF {
  margin: 0rem 2.8rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-2-2JV .jonathan-james-PHT {
  margin: 0rem 7.9rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-2-2JV .adidas-mens-restound-m-running-shoe-hJ9 {
  margin: 0rem 6rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-2-2JV .item-1699-oMB {
  margin: 0rem 3.9rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-2-2JV .item-10-04-2023-Joj {
  margin: 0rem 3rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-2-2JV .paytm-RNZ {
  margin: 0rem 6rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-2-2JV .delivered-k9w {
  margin: 0rem 8rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #4bb543;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-2-2JV .action-button-sVT {
  width: 3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-2-2JV .action-button-sVT .rectangle-97-2NM {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0.4rem;
  background-color: rgba(255, 115, 29, 0.3000000119);
  border-radius: 0.5rem;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-2-2JV .action-button-sVT .item--kp9 {
  width: 1.8rem;
  height: 2.7rem;
  position: absolute;
  left: 0.7rem;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.02rem;
  color: #df5e0f;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-3-Sws {
  box-sizing: border-box;
  padding: 1.8rem 1rem 1.8rem 0rem;
  width: 100%;
  height: 7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #dddddd;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-3-Sws .rectangle-134-xfK {
  margin: 0rem 1.5rem 0.1rem 0rem;
  width: 1.5rem;
  height: 1.5rem;
  border: solid 0.1rem #dddddd;
  box-sizing: border-box;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-3-Sws .gf-t3B {
  margin: 0rem 3rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-3-Sws .jonathan-james-zc1 {
  margin: 0rem 7.9rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-3-Sws .adidas-mens-restound-m-running-shoe-WqF {
  margin: 0rem 6rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-3-Sws .item-1699-dQ5 {
  margin: 0rem 3.9rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-3-Sws .item-10-04-2023-97X {
  margin: 0rem 3rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-3-Sws .paytm-fLm {
  margin: 0rem 6rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-3-Sws .delivered-ycM {
  margin: 0rem 8.9rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #3f80e0;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-3-Sws .action-button-7Cm {
  width: 3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-3-Sws .action-button-7Cm .rectangle-97-4th {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0.4rem;
  background-color: rgba(255, 115, 29, 0.3000000119);
  border-radius: 0.5rem;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-3-Sws .action-button-7Cm .item--QSm {
  width: 1.8rem;
  height: 2.7rem;
  position: absolute;
  left: 0.7rem;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.02rem;
  color: #df5e0f;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-4-6qP {
  box-sizing: border-box;
  padding: 1.8rem 1rem 1.8rem 0rem;
  width: 100%;
  height: 7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #dddddd;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-4-6qP .rectangle-134-Dv1 {
  margin: 0rem 1.5rem 0.1rem 0rem;
  width: 1.5rem;
  height: 1.5rem;
  border: solid 0.1rem #dddddd;
  box-sizing: border-box;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-4-6qP .gf-MFX {
  margin: 0rem 3rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-4-6qP .jonathan-james-4Qq {
  margin: 0rem 7.9rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-4-6qP .adidas-mens-restound-m-running-shoe-Ayf {
  margin: 0rem 6rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-4-6qP .item-1699-tPs {
  margin: 0rem 3.9rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-4-6qP .item-10-04-2023-C9f {
  margin: 0rem 3rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-4-6qP .paytm-JiV {
  margin: 0rem 6rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-4-6qP .delivered-28h {
  margin: 0rem 8rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #4bb543;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-4-6qP .action-button-9DK {
  width: 3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-4-6qP .action-button-9DK .rectangle-97-gyw {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0.4rem;
  background-color: rgba(255, 115, 29, 0.3000000119);
  border-radius: 0.5rem;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-4-6qP .action-button-9DK .item--RRj {
  width: 1.8rem;
  height: 2.7rem;
  position: absolute;
  left: 0.7rem;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.02rem;
  color: #df5e0f;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-5-iQq {
  box-sizing: border-box;
  padding: 1.8rem 1rem 1.8rem 0rem;
  width: 100%;
  height: 7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #dddddd;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-5-iQq .rectangle-134-Rq3 {
  margin: 0rem 1.5rem 0.1rem 0rem;
  width: 1.5rem;
  height: 1.5rem;
  border: solid 0.1rem #dddddd;
  box-sizing: border-box;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-5-iQq .gf-ZAZ {
  margin: 0rem 3rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-5-iQq .jonathan-james-UYR {
  margin: 0rem 7.9rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-5-iQq .adidas-mens-restound-m-running-shoe-CDX {
  margin: 0rem 6rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-5-iQq .item-1699-K3F {
  margin: 0rem 3.9rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-5-iQq .item-10-04-2023-2iM {
  margin: 0rem 3rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-5-iQq .paytm-9ny {
  margin: 0rem 6rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-5-iQq .delivered-gY1 {
  margin: 0rem 8.9rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #3f80e0;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-5-iQq .action-button-Qiu {
  width: 3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-5-iQq .action-button-Qiu .rectangle-97-a7b {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0.4rem;
  background-color: rgba(255, 115, 29, 0.3000000119);
  border-radius: 0.5rem;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-5-iQq .action-button-Qiu .item--KL5 {
  width: 1.8rem;
  height: 2.7rem;
  position: absolute;
  left: 0.7rem;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.02rem;
  color: #df5e0f;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-6-1MK {
  box-sizing: border-box;
  padding: 1.8rem 1rem 1.8rem 0rem;
  width: 100%;
  height: 7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #dddddd;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-6-1MK .rectangle-134-X4m {
  margin: 0rem 1.5rem 0.1rem 0rem;
  width: 1.5rem;
  height: 1.5rem;
  border: solid 0.1rem #dddddd;
  box-sizing: border-box;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-6-1MK .gf-3oo {
  margin: 0rem 3rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-6-1MK .jonathan-james-ySZ {
  margin: 0rem 7.9rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-6-1MK .adidas-mens-restound-m-running-shoe-UeD {
  margin: 0rem 6rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-6-1MK .item-1699-BoX {
  margin: 0rem 3.9rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-6-1MK .item-10-04-2023-hWy {
  margin: 0rem 3rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-6-1MK .paytm-1Xf {
  margin: 0rem 6rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-6-1MK .delivered-Y1o {
  margin: 0rem 7.9rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #fcf772;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-6-1MK .action-button-fMK {
  width: 3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-6-1MK .action-button-fMK .rectangle-97-RLV {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0.4rem;
  background-color: rgba(255, 115, 29, 0.3000000119);
  border-radius: 0.5rem;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-6-1MK .action-button-fMK .item--Mjw {
  width: 1.8rem;
  height: 2.7rem;
  position: absolute;
  left: 0.7rem;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.02rem;
  color: #df5e0f;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-7-fEq {
  box-sizing: border-box;
  padding: 1.8rem 1rem 1.8rem 0rem;
  width: 100%;
  height: 7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #dddddd;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-7-fEq .rectangle-134-Nuw {
  margin: 0rem 1.5rem 0.1rem 0rem;
  width: 1.5rem;
  height: 1.5rem;
  border: solid 0.1rem #dddddd;
  box-sizing: border-box;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-7-fEq .gf-J2u {
  margin: 0rem 3rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-7-fEq .jonathan-james-cZP {
  margin: 0rem 7.9rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-7-fEq .adidas-mens-restound-m-running-shoe-8nd {
  margin: 0rem 6rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-7-fEq .item-1699-4AV {
  margin: 0rem 3.9rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-7-fEq .item-10-04-2023-mah {
  margin: 0rem 3rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-7-fEq .paytm-How {
  margin: 0rem 6rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-7-fEq .delivered-DSh {
  margin: 0rem 8.2rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #d0342c;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-7-fEq .action-button-XyB {
  width: 3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-7-fEq .action-button-XyB .rectangle-97-Vf7 {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0.4rem;
  background-color: rgba(255, 115, 29, 0.3000000119);
  border-radius: 0.5rem;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-7-fEq .action-button-XyB .item--Ech {
  width: 1.8rem;
  height: 2.7rem;
  position: absolute;
  left: 0.7rem;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.02rem;
  color: #df5e0f;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-8-8TB {
  box-sizing: border-box;
  padding: 1.8rem 1rem 1.8rem 0rem;
  width: 100%;
  height: 7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #dddddd;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-8-8TB .rectangle-134-34M {
  margin: 0rem 1.5rem 0.1rem 0rem;
  width: 1.5rem;
  height: 1.5rem;
  border: solid 0.1rem #dddddd;
  box-sizing: border-box;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-8-8TB .gf-N6d {
  margin: 0rem 3rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-8-8TB .jonathan-james-HjP {
  margin: 0rem 7.9rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-8-8TB .adidas-mens-restound-m-running-shoe-oSq {
  margin: 0rem 6rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-8-8TB .item-1699-iJu {
  margin: 0rem 3.9rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-8-8TB .item-10-04-2023-Rj7 {
  margin: 0rem 3rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-8-8TB .paytm-Z4d {
  margin: 0rem 6rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-8-8TB .delivered-52y {
  margin: 0rem 8.9rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #3f80e0;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-8-8TB .action-button-Q5F {
  width: 3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-8-8TB .action-button-Q5F .rectangle-97-x6m {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0.4rem;
  background-color: rgba(255, 115, 29, 0.3000000119);
  border-radius: 0.5rem;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-8-8TB .action-button-Q5F .item--h4M {
  width: 1.8rem;
  height: 2.7rem;
  position: absolute;
  left: 0.7rem;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.02rem;
  color: #df5e0f;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-9-BkD {
  box-sizing: border-box;
  padding: 1.8rem 1rem 1.8rem 0rem;
  width: 100%;
  height: 7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #dddddd;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-9-BkD .rectangle-134-WGh {
  margin: 0rem 1.5rem 0.1rem 0rem;
  width: 1.5rem;
  height: 1.5rem;
  border: solid 0.1rem #dddddd;
  box-sizing: border-box;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-9-BkD .gf-31j {
  margin: 0rem 3rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-9-BkD .jonathan-james-kgq {
  margin: 0rem 7.9rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-9-BkD .adidas-mens-restound-m-running-shoe-sWZ {
  margin: 0rem 6rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-9-BkD .item-1699-Pjo {
  margin: 0rem 3.9rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-9-BkD .item-10-04-2023-hVb {
  margin: 0rem 3rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-9-BkD .paytm-225 {
  margin: 0rem 6rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-9-BkD .delivered-Ym7 {
  margin: 0rem 8rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #4bb543;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-9-BkD .action-button-UPs {
  width: 3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-9-BkD .action-button-UPs .rectangle-97-2wB {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0.4rem;
  background-color: rgba(255, 115, 29, 0.3000000119);
  border-radius: 0.5rem;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-9-BkD .action-button-UPs .item--mtm {
  width: 1.8rem;
  height: 2.7rem;
  position: absolute;
  left: 0.7rem;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.02rem;
  color: #df5e0f;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-10-Tmb {
  box-sizing: border-box;
  padding: 1.8rem 1rem 1.8rem 0rem;
  width: 100%;
  height: 7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #dddddd;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-10-Tmb .rectangle-134-BBo {
  margin: 0rem 1.5rem 0.1rem 0rem;
  width: 1.5rem;
  height: 1.5rem;
  border: solid 0.1rem #dddddd;
  box-sizing: border-box;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-10-Tmb .gf-JGR {
  margin: 0rem 3rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-10-Tmb .jonathan-james-oys {
  margin: 0rem 7.9rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-10-Tmb .adidas-mens-restound-m-running-shoe-LD7 {
  margin: 0rem 6rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-10-Tmb .item-1699-Fay {
  margin: 0rem 3.9rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-10-Tmb .item-10-04-2023-mpD {
  margin: 0rem 3rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-10-Tmb .paytm-uQd {
  margin: 0rem 6rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-10-Tmb .delivered-S9f {
  margin: 0rem 8rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #4bb543;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-10-Tmb .action-button-MGd {
  width: 3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-10-Tmb .action-button-MGd .rectangle-97-uow {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0.4rem;
  background-color: rgba(255, 115, 29, 0.3000000119);
  border-radius: 0.5rem;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .table-wxd .list-JAD .item-10-Tmb .action-button-MGd .item--qxV {
  width: 1.8rem;
  height: 2.7rem;
  position: absolute;
  left: 0.7rem;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.02rem;
  color: #df5e0f;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .paginations-vU9 {
  margin: 0rem 47.4rem 0rem 49.4rem;
  width: calc(100% - 96.8rem);
  height: 4rem;
  display: flex;
  column-gap: 0.6rem;
  align-items: center;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .paginations-vU9 .frame-101-SSV {
  width: 4rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.35;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-57-iG9.png');
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .paginations-vU9 .frame-102-LGy {
  width: 4rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.35;
  color: #757575;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.d-product-filters-wah .frame-214-Hxd .frame-211-pd7 .paginations-vU9 .frame-103-rWD {
  width: 4rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.35;
  color: #757575;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
