
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.footer-tRw {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #beeac2;
  box-sizing: border-box;
  padding: 4.088rem 10rem 2rem 10rem;

  .group-1-n1X {
    width: calc(100% - 98.4105rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 46.076rem 6rem 52.334rem;

    .healthybite-VwX {
      margin-right: 0.6921rem;
      white-space: nowrap;
      flex-shrink: 0;
      letter-spacing: 0.1371rem;
      color: #32794e;
      font-family: Ananda Black Personal Use, 'Source Sans Pro';
      display: flex;
      align-items: baseline;
      font-size: 3.4272rem;
      font-weight: 400;
      line-height: 1;

      .healthybite-VwX-sub-0 {
        letter-spacing: 0.1371rem;
        color: #32794e;
        font-family: Amita, 'Source Sans Pro';
        font-size: 3.4272rem;
        font-weight: 400;
        line-height: 1.2575;
      }
      .healthybite-VwX-sub-1 {
        letter-spacing: 0.3427rem;
        color: #32794e;
        font-family: Amita, 'Source Sans Pro';
        font-size: 3.4272rem;
        font-weight: 400;
        line-height: 1.2575;
      }
      .healthybite-VwX-sub-2 {
        font-size: 3.4272rem;
        font-weight: 400;
        line-height: 1.2575;
        letter-spacing: 0.1371rem;
        color: #32794e;
        font-family: Amita, 'Source Sans Pro';
      }
    }
    .group-A41 {
      width: 6.3974rem;
      height: 5.3rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 1.0118rem;
    }
  }
  .frame-2-H8d {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 2.8rem 3rem 2.7rem;
    width: calc(100% - 5.5rem);

    .about-us-b9K {
      line-height: 1.35;
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 11.8667rem;
      font-size: 2rem;
      font-weight: 400;
    }
    .features-JZX {
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.35;
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 11.9667rem;
    }
    .blogs-Exy {
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 11.8667rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.35;
    }
    .food-Abj {
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.35;
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 11.8667rem;
    }
    .recipes-uZK {
      font-weight: 400;
      line-height: 1.35;
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 11.8667rem;
      font-size: 2rem;
    }
    .reviews-3fX {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 11.8667rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.35;
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
    }
    .sign-in-Bmj {
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.35;
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .frame-3-vjK {
    margin: 0rem 18.3rem 4rem 18.3rem;
    width: calc(100% - 36.6rem);
    display: flex;
    column-gap: 10.25rem;
    align-items: center;
    flex-shrink: 0;

    .terms-conditions-21f {
      font-weight: 400;
      line-height: 1.375;
      color: #424242;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
    }
    .privacy-policy-kiM {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.375;
      color: #424242;
      font-family: Open Sans, 'Source Sans Pro';
    }
    .contact-uLM {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.375;
      color: #424242;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .cookie-policy-TMs {
      line-height: 1.375;
      color: #424242;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 400;
    }
    .support-QH7 {
      font-weight: 400;
      line-height: 1.375;
      color: #424242;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
    }
  }
  .rectangle-19-9kV {
    width: 100%;
    height: 0.4rem;
    background: radial-gradient(50% 50% at 50% 50%, #32794e 0%, rgba(50, 121, 78, 0) 100%);
    flex-shrink: 0;
    margin-bottom: 2.5rem;
  }
  .social-media-eSM {
    margin: 0rem 36.145rem 7.238rem 36.045rem;
    width: calc(100% - 72.1905rem);
    height: 5.2619rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .item-1-AQh {
      box-shadow: 0 0.3238rem 0.3238rem rgba(0, 0, 0, 0.25);
      background-color: #f1fff4;
      border-radius: 2.631rem;
      flex-shrink: 0;
      margin-right: 4.0476rem;
      box-sizing: border-box;
      padding: 0.648rem 0.648rem 0.567rem 0.567rem;
      height: 100%;

      .vector-KKX {
        height: 4.0476rem;
        object-fit: contain;
        vertical-align: top;
        width: 4.0476rem;
      }
    }
    .item-2-Dfo {
      border-radius: 2.631rem;
      flex-shrink: 0;
      margin-right: 4.0476rem;
      box-sizing: border-box;
      padding: 0.81rem 0.81rem 0.81rem 0.81rem;
      height: 100%;
      box-shadow: 0 0.3238rem 0.3238rem rgba(0, 0, 0, 0.25);
      background-color: #f1fff4;

      .vector-MX7 {
        width: 3.6429rem;
        height: 3.6429rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .item-3-fXo {
      box-shadow: 0 0.3238rem 0.3238rem rgba(0, 0, 0, 0.25);
      background-color: #f1fff4;
      border-radius: 2.631rem;
      flex-shrink: 0;
      margin-right: 4.0476rem;
      box-sizing: border-box;
      padding: 1.214rem 0.729rem 1.214rem 0.648rem;
      height: 100%;

      .vector-QEV {
        width: 3.8857rem;
        height: 2.8333rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .item-4-hzH {
      margin-right: 4.0476rem;
      box-sizing: border-box;
      padding: 0.405rem 0.405rem 0.405rem 0.405rem;
      height: 100%;
      box-shadow: 0 0.3238rem 0.3238rem rgba(0, 0, 0, 0.25);
      background-color: #f1fff4;
      border-radius: 2.631rem;
      flex-shrink: 0;

      .icons8-pinterest-1-3HT {
        width: 4.4524rem;
        height: 4.4524rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .item-5-YV7 {
      flex-shrink: 0;
      margin-right: 4.0476rem;
      box-sizing: border-box;
      padding: 1.457rem 0.81rem 1.376rem 0.81rem;
      height: 100%;
      box-shadow: 0 0.3238rem 0.3238rem rgba(0, 0, 0, 0.25);
      background-color: #f1fff4;
      border-radius: 2.631rem;

      .vector-Gg1 {
        width: 3.6429rem;
        height: 2.4286rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .item-6-nPT {
      box-shadow: 0 0.3238rem 0.3238rem rgba(0, 0, 0, 0.25);
      background-color: #f1fff4;
      border-radius: 2.631rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.5rem 0.855rem 1.562rem 0.807rem;
      height: 100%;

      .group-vkZ {
        object-fit: contain;
        vertical-align: top;
        width: 3.6rem;
        height: 2.2rem;
      }
    }
  }
  .cornea-clinic-pvt-ltd-all-rights-reserved-qcd {
    flex-shrink: 0;
    margin-right: 3.9rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    color: #424242;
    font-family: Lato, 'Source Sans Pro';
    white-space: nowrap;
  }
}
