
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.choose-plan-p4Z {
  width: 100%;
  height: 96rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.choose-plan-p4Z .rectangle-33-Kn1 {
  width: 88.1rem;
  height: 96rem;
  position: absolute;
  left: 73.9rem;
  top: 0;
  background: linear-gradient(270.17deg, #ffffff 2.26%, rgba(255, 255, 255, 0) 21.05%);
  background-size: 178.099% 100.017%;
  background-position: -0rem -0.0081rem;
  background-image: url('../assets/rectangle-33-bg-f2q.png');
}
.choose-plan-p4Z .rectangle-33-Kn1 .rectangle-33-Kn1-bg {
  width: 88.1rem;
  height: 96rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:e625a317942964d48c1d7ee5e86a6725500a7f27');
}
.choose-plan-p4Z .rectangle-20-Yem {
  width: 172.4rem;
  height: 52.35rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.choose-plan-p4Z .rectangle-21-tid {
  width: 208.25rem;
  height: 46.3rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.choose-plan-p4Z .nav-text-items-35j {
  width: 48.8857rem;
  height: 5.0096rem;
  position: absolute;
  left: 4.5143rem;
  top: 2.5904rem;
  display: flex;
  align-items: flex-end;
}
.choose-plan-p4Z .nav-text-items-35j .group-1-Zpm {
  margin: 0rem 6.5rem 0.425rem 0rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.choose-plan-p4Z .nav-text-items-35j .group-1-Zpm .healthybite-JXT {
  margin-right: 4.2394rem;
  font-size: 2.4892rem;
  font-weight: 400;
  line-height: 1.3475;
  letter-spacing: 0.0996rem;
  color: #32794e;
  font-family: Abril Fatface, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.choose-plan-p4Z .nav-text-items-35j .group-1-Zpm .group-1Rs {
  margin-top: 0.7349rem;
  width: 4.6465rem;
  height: 3.8494rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.choose-plan-p4Z .nav-text-items-35j .features-Xf7 {
  margin-right: 6.5rem;
  width: 10.2rem;
  height: 4.7rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.35;
  color: #616161;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.choose-plan-p4Z .nav-text-items-35j .blogs-dCM {
  width: 7.1rem;
  height: 4.7rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.35;
  color: #616161;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.choose-plan-p4Z .frame-47-YKK {
  width: 59.5rem;
  height: 12.5rem;
  position: absolute;
  left: 12.8rem;
  top: 11.2rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.choose-plan-p4Z .frame-47-YKK .optimize-your-health-wth-ai-5KF {
  margin: 0rem 0.15rem 1.5rem 0rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.375;
  color: #32794e;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.choose-plan-p4Z .frame-47-YKK .lets-check-your-diet-consultant-zBK {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.choose-plan-p4Z .https-lottiefilescom-33886-check-okey-done-hrR {
  width: 20rem;
  height: 20rem;
  position: absolute;
  left: 34.7rem;
  top: 20.6rem;
  object-fit: cover;
  vertical-align: top;
}
.choose-plan-p4Z .rectangle-137-pg9 {
  width: 71.1rem;
  height: 50.2rem;
  position: absolute;
  left: 7rem;
  top: 27.1rem;
  background-color: #d9d9d9;
  border-radius: 4rem;
}
.choose-plan-p4Z .rectangle-138-MRB {
  width: 29.4rem;
  height: 5rem;
  position: absolute;
  left: 10.6rem;
  top: 37.4rem;
  background-color: #9747ff;
}
.choose-plan-p4Z .rectangle-141-VXP {
  width: 29.4rem;
  height: 5rem;
  position: absolute;
  left: 10.6rem;
  top: 51.7rem;
  background-color: #9747ff;
}
.choose-plan-p4Z .rectangle-143-SBj {
  width: 29.4rem;
  height: 5rem;
  position: absolute;
  left: 11.5rem;
  top: 65.7rem;
  background-color: #9747ff;
}
.choose-plan-p4Z .rectangle-139-Nr5 {
  width: 29.1rem;
  height: 5rem;
  position: absolute;
  left: 47.3rem;
  top: 37.4rem;
  background-color: #9747ff;
}
.choose-plan-p4Z .rectangle-140-iQ9 {
  width: 29.1rem;
  height: 5rem;
  position: absolute;
  left: 47.3rem;
  top: 51rem;
  background-color: #9747ff;
}
.choose-plan-p4Z .rectangle-142-rFT {
  width: 29.1rem;
  height: 5rem;
  position: absolute;
  left: 46.3rem;
  top: 65.7rem;
  background-color: #9747ff;
}
.choose-plan-p4Z .age--PWH {
  width: 9.1rem;
  height: 5.5rem;
  position: absolute;
  left: 21.6rem;
  top: 30.1rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.375;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.choose-plan-p4Z .gender-WL1 {
  width: 14.6rem;
  height: 5.5rem;
  position: absolute;
  left: 54.6rem;
  top: 30.1rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.375;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.choose-plan-p4Z .weightkg-EG1 {
  width: 21.1rem;
  height: 5.5rem;
  position: absolute;
  left: 15.8rem;
  top: 44.3rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.375;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.choose-plan-p4Z .heightm-kVF {
  width: 20rem;
  height: 5.5rem;
  position: absolute;
  left: 50.1rem;
  top: 43.7rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.375;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.choose-plan-p4Z .region-fcD {
  width: 13.6rem;
  height: 5.5rem;
  position: absolute;
  left: 17.9rem;
  top: 58.6rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.375;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.choose-plan-p4Z .allergic-yso {
  width: 15rem;
  height: 5.5rem;
  position: absolute;
  left: 52.6rem;
  top: 59.6rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.375;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.choose-plan-p4Z .rectangle-144-JQH {
  width: 42.1rem;
  height: 9.3rem;
  position: absolute;
  left: 25.2rem;
  top: 79.5rem;
  background-color: #f02828;
}
.choose-plan-p4Z .recommend-diets-qv1 {
  width: 36.3rem;
  height: 5.5rem;
  position: absolute;
  left: 27.8rem;
  top: 81.3rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.375;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
