
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.d-product-filters-BFF {
  width: 100%;
  height: 232.7rem;
  position: relative;
  overflow: hidden;
  background-color: #f8fff9;
}
.d-product-filters-BFF .group-24-GXb {
  width: 202.2rem;
  height: 196.9359rem;
  position: absolute;
  left: 0;
  top: 35.8rem;
  object-fit: contain;
  vertical-align: top;
}
.d-product-filters-BFF .rectangle-42-nVw {
  width: 114rem;
  height: 278.1rem;
  position: absolute;
  left: 28rem;
  top: 0;
  border: solid 0.1rem #ddf7e3;
  box-sizing: border-box;
  box-shadow: inset -0.2rem -0.1rem 0.4rem #ddf7e3), inset 0.2rem 0.1rem 0.4rem #ddf7e3), 0 0.3rem 0.4rem #ddf7e3;
  background-color: #ffffff;
  border-radius: 1.5rem;
}
.d-product-filters-BFF .rectangle-121-2QH {
  width: 47.2rem;
  height: 28.1rem;
  position: absolute;
  left: 30rem;
  top: 4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1.5rem;
}
.d-product-filters-BFF .optimum-nutrition-on-gold-standard-100-whey-2-lbs-907-g-double-rich-chocolate-protein-powder-for-muscle-support-recovery-vegetarian-primary-source-whey-isolate-jpV {
  width: 107.2rem;
  height: 5.4rem;
  position: absolute;
  left: 30rem;
  top: 36.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.d-product-filters-BFF .p-details-mFP {
  width: 65.7rem;
  height: 2.2rem;
  position: absolute;
  left: 30rem;
  top: 43.5rem;
  display: flex;
  align-items: center;
}
.d-product-filters-BFF .p-details-mFP .product-id-229fr1-tL1 {
  margin-right: 10rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #757575;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .p-details-mFP .seller-adidas-19j {
  margin-right: 10.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #757575;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .p-details-mFP .published-on-10-march-2022-Kw7 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #757575;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .description-Fpm {
  box-sizing: border-box;
  padding: 3.5rem 3.4rem 3.5rem 3.5rem;
  width: 110rem;
  height: 38.1rem;
  position: absolute;
  left: 30rem;
  top: 142.5rem;
  border: solid 0.1rem #bdbdbd;
  background-color: #ffffff;
  border-radius: 1.5rem;
}
.d-product-filters-BFF .description-Fpm .description-xz5 {
  width: 100%;
  height: 25.1rem;
  display: flex;
  flex-direction: column;
}
.d-product-filters-BFF .description-Fpm .description-xz5 .description--7ry {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .description-Fpm .description-xz5 .gold-standard-100-whey-blend-24g-blended-protein-consisting-of-whey-protein-isolate-whey-protein-concentrate-and-whey-peptides-hydrolysates-to-support-lean-muscle-mass-primary-protein-source-is-isolate-they-dont-call-it-the-gold-standard-of-quality-for-nothing-what-does-it-have-11-grams-of-naturally-occurring-eaas-including-55-grams-of-naturally-occurring-bcaas-and-over-4-grams-of-naturally-occurring-glutamine-and-glutamic-acid-in-each-serving-to-support-endurance-and-muscle-recovery-gluten-free-suitable-for-vegetarians-authenticity-sms-us-your-6-digit-unique-code-on-the-pack-at-57575-to-instantly-test-the-authenticity-of-the-product-when-to-use-first-thing-in-the-morning-before-or-after-exercise-between-meals-with-a-meal-or-any-time-of-the-day-where-you-a-protein-boost-to-your-balanced-diet-banned-substance-tested-you-feel-comfortable-and-safe-consuming-the-product-informed-choice-certified-trusted-by-the-athletes-all-over-the-world-for-past-35-years-size-flavours-pick-your-size-from-1-2-5-pounds-and-10-pound-4kg-options-and-10-delicious-flavours-available-to-choose-from-most-reviewed-whey-protein-powder-by-sports-protein-powder-brand-optimum-nutrition-FyB {
  max-width: 103.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.d-product-filters-BFF .rectangle-123-pB3 {
  width: 10rem;
  height: 8.3333rem;
  position: absolute;
  left: 83.5rem;
  top: 6.1rem;
  object-fit: contain;
  vertical-align: top;
}
.d-product-filters-BFF .rectangle-126-Lv5 {
  width: 10rem;
  height: 8.3333rem;
  position: absolute;
  left: 83.5rem;
  top: 19.4rem;
  object-fit: contain;
  vertical-align: top;
}
.d-product-filters-BFF .rectangle-124-fSZ {
  width: 10rem;
  height: 8.3333rem;
  position: absolute;
  left: 101.6rem;
  top: 4rem;
  object-fit: contain;
  vertical-align: top;
}
.d-product-filters-BFF .rectangle-125-QQ9 {
  width: 10rem;
  height: 8.3333rem;
  position: absolute;
  left: 121.4rem;
  top: 4rem;
  object-fit: contain;
  vertical-align: top;
}
.d-product-filters-BFF .rectangle-127-YWM {
  width: 110rem;
  height: 10.6rem;
  position: absolute;
  left: 30rem;
  top: 48.9rem;
  background-color: #f5f5f5;
  border-radius: 1.5rem;
}
.d-product-filters-BFF .rectangle-128-5mB {
  width: 110rem;
  height: 16rem;
  position: absolute;
  left: 30rem;
  top: 64.5rem;
  background-color: #f5f5f5;
  border-radius: 1.5rem;
}
.d-product-filters-BFF .frame-154-E8H {
  width: 86rem;
  height: 9rem;
  position: absolute;
  left: 33.5rem;
  top: 68rem;
  display: flex;
  column-gap: 10rem;
  align-items: center;
}
.d-product-filters-BFF .frame-154-E8H .frame-150-Myb {
  width: 10.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-154-E8H .frame-150-Myb .frame-149-X7P {
  margin: 0rem 2.4rem 0.5rem 2.4rem;
  box-sizing: border-box;
  padding: 1.7rem 1rem 1.7rem 0.9rem;
  width: calc(100% - 4.8rem);
  box-shadow: 0 0.2rem 0.4rem #bdbdbd;
  background: linear-gradient(180deg, rgba(50, 121, 78, 0.2899999917) -0%, #6ba380 40.02%, #4b8b64 65.62%, #32794e 100%);
  border-radius: 3rem;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-154-E8H .frame-150-Myb .frame-149-X7P .group-28-dw7 {
  width: 4.1rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
}
.d-product-filters-BFF .frame-154-E8H .frame-150-Myb .free-delivery-JXT {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  color: #252525;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-154-E8H .frame-151-SNm {
  width: 18.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-154-E8H .frame-151-SNm .frame-149-zfB {
  margin: 0rem 6.05rem 0.5rem 6.05rem;
  box-sizing: border-box;
  padding: 0.8rem 1rem;
  width: calc(100% - 12.1rem);
  box-shadow: 0 0.2rem 0.4rem #bdbdbd;
  background: linear-gradient(180deg, rgba(50, 121, 78, 0.2899999917) -0%, #6ba380 40.02%, #4b8b64 65.62%, #32794e 100%);
  border-radius: 3rem;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-154-E8H .frame-151-SNm .frame-149-zfB .group-29-Jfs {
  width: 4rem;
  height: 4.4rem;
  object-fit: contain;
  vertical-align: top;
}
.d-product-filters-BFF .frame-154-E8H .frame-151-SNm .highly-recommended-yGD {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  color: #252525;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-154-E8H .frame-152-uff {
  width: 13.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-154-E8H .frame-152-uff .frame-149-rqo {
  margin: 0rem 3.9rem 0.5rem 3.9rem;
  box-sizing: border-box;
  padding: 1.1rem 1.3rem 1.2rem 1.2rem;
  width: calc(100% - 7.8rem);
  box-shadow: 0 0.2rem 0.4rem #bdbdbd;
  background: linear-gradient(180deg, rgba(50, 121, 78, 0.2899999917) -0%, #6ba380 40.02%, #4b8b64 65.62%, #32794e 100%);
  border-radius: 3rem;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-154-E8H .frame-152-uff .frame-149-rqo .group-30-aWu {
  width: 3.5rem;
  height: 3.7rem;
  object-fit: contain;
  vertical-align: top;
}
.d-product-filters-BFF .frame-154-E8H .frame-152-uff .cash-on-delivery-4S5 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  color: #252525;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-154-E8H .frame-153-CHP {
  width: 13.3rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-154-E8H .frame-153-CHP .frame-149-kJu {
  margin: 0rem 3.65rem 0.5rem 3.65rem;
  box-sizing: border-box;
  padding: 0.9rem 0.85rem 0.9rem 0.95rem;
  width: calc(100% - 7.3rem);
  box-shadow: 0 0.2rem 0.4rem #bdbdbd;
  background: linear-gradient(180deg, rgba(50, 121, 78, 0.2899999917) -0%, #6ba380 40.02%, #4b8b64 65.62%, #32794e 100%);
  border-radius: 3rem;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-154-E8H .frame-153-CHP .frame-149-kJu .group-31-rMw {
  width: 4.2rem;
  height: 4.2rem;
  object-fit: contain;
  vertical-align: top;
}
.d-product-filters-BFF .frame-154-E8H .frame-153-CHP .non-refundable-w8V {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  color: #252525;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-155-UPK {
  width: 85.9rem;
  height: 3.6rem;
  position: absolute;
  left: 33.65rem;
  top: 52.4rem;
  display: flex;
  column-gap: 5.3rem;
  align-items: center;
}
.d-product-filters-BFF .frame-155-UPK .frame-137-PWH {
  width: 17.5rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-155-UPK .frame-137-PWH .frame-144-YPB {
  margin: 0rem 0.45rem 0.7rem 0.45rem;
  width: calc(100% - 0.9rem);
  height: 2.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-155-UPK .frame-137-PWH .frame-144-YPB .frame-136-sAZ {
  margin-right: 1.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-155-UPK .frame-137-PWH .frame-144-YPB .frame-136-sAZ .price--prV {
  margin-right: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  color: #757575;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-155-UPK .frame-137-PWH .frame-144-YPB .frame-136-sAZ .item-2899-mFw {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  color: #32794e;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-155-UPK .frame-137-PWH .frame-144-YPB .price-icon-HVB {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-155-UPK .frame-137-PWH .rectangle-122-RrH {
  width: 100%;
  height: 0.2rem;
  background: radial-gradient(50% 50% at 50% 50%, #beeac2 0%, rgba(190, 234, 194, 0) 100%);
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-155-UPK .frame-141-YR7 {
  width: 17.5rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-155-UPK .frame-141-YR7 .frame-145-Vr9 {
  margin: 0rem 0.7rem 0.7rem 2.15rem;
  width: calc(100% - 2.85rem);
  height: 2.7rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-155-UPK .frame-141-YR7 .frame-145-Vr9 .frame-136-ptR {
  margin-right: 3.45rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-155-UPK .frame-141-YR7 .frame-145-Vr9 .frame-136-ptR .orders--Nuw {
  margin-right: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  color: #757575;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-155-UPK .frame-141-YR7 .frame-145-Vr9 .frame-136-ptR .item-21-KKP {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  color: #198754;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-155-UPK .frame-141-YR7 .frame-145-Vr9 .orders-icon-esT {
  width: 1.5rem;
  height: 2.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-155-UPK .frame-141-YR7 .rectangle-122-zgR {
  width: 100%;
  height: 0.2rem;
  background: radial-gradient(50% 50% at 50% 50%, #beeac2 0%, rgba(190, 234, 194, 0) 100%);
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-155-UPK .frame-142-i6d {
  width: 17.5rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-155-UPK .frame-142-i6d .frame-146-SHX {
  margin: 0rem 0.45rem 0.7rem 2.6rem;
  width: calc(100% - 3.0498rem);
  height: 2.7rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-155-UPK .frame-142-i6d .frame-146-SHX .frame-136-xmf {
  margin-right: 4.1501rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-155-UPK .frame-142-i6d .frame-146-SHX .frame-136-xmf .stock--7eZ {
  margin-right: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  color: #757575;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-155-UPK .frame-142-i6d .frame-146-SHX .frame-136-xmf .item-35-441 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  color: #198754;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-155-UPK .frame-142-i6d .frame-146-SHX .stock-zTT {
  width: 2.0001rem;
  height: 1.8889rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-155-UPK .frame-142-i6d .rectangle-122-95T {
  width: 100%;
  height: 0.2rem;
  background: radial-gradient(50% 50% at 50% 50%, #beeac2 0%, rgba(190, 234, 194, 0) 100%);
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-155-UPK .frame-143-Tbw {
  width: 17.5rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-155-UPK .frame-143-Tbw .frame-147-DLD {
  margin: 0rem 0.5rem 0.7rem 0.35rem;
  width: calc(100% - 0.85rem);
  height: 2.7rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-155-UPK .frame-143-Tbw .frame-147-DLD .frame-136-8xy {
  margin-right: 1.85rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-155-UPK .frame-143-Tbw .frame-147-DLD .frame-136-8xy .revenue--Hqs {
  margin-right: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  color: #757575;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-155-UPK .frame-143-Tbw .frame-147-DLD .frame-136-8xy .item-62-dPw {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  color: #198754;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-155-UPK .frame-143-Tbw .frame-147-DLD .group-27-Aem {
  width: 1.9rem;
  height: 1.761rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-155-UPK .frame-143-Tbw .rectangle-122-7K7 {
  width: 100%;
  height: 0.2rem;
  background: radial-gradient(50% 50% at 50% 50%, #beeac2 0%, rgba(190, 234, 194, 0) 100%);
  flex-shrink: 0;
}
.d-product-filters-BFF .size-zNu {
  box-sizing: border-box;
  padding: 3.5rem;
  width: 110rem;
  height: 15.2rem;
  position: absolute;
  left: 30rem;
  top: 85.5rem;
  background-color: #f5f5f5;
  border-radius: 1.5rem;
}
.d-product-filters-BFF .size-zNu .content-Hso {
  width: 32.3rem;
  height: 100%;
}
.d-product-filters-BFF .size-zNu .content-Hso .size--EY9 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3888888889;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.d-product-filters-BFF .size-zNu .content-Hso .size-list-M6y {
  width: 100%;
  height: 4.2rem;
  display: flex;
  column-gap: 2rem;
  align-items: center;
}
.d-product-filters-BFF .size-zNu .content-Hso .size-list-M6y .item-1-sb7 {
  width: 8.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.d-product-filters-BFF .size-zNu .content-Hso .size-list-M6y .item-2-unh {
  width: 10.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.d-product-filters-BFF .size-zNu .content-Hso .size-list-M6y .item-3-AyX {
  width: 9.1rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.d-product-filters-BFF .color-P5b {
  box-sizing: border-box;
  padding: 3.5rem;
  width: 110rem;
  height: 31.8rem;
  position: absolute;
  left: 30rem;
  top: 105.7rem;
  border: solid 0.1rem #bdbdbd;
  background-color: #ffffff;
  border-radius: 1.5rem;
}
.d-product-filters-BFF .color-P5b .frame-166-sFf {
  width: 77.3rem;
  height: 100%;
}
.d-product-filters-BFF .color-P5b .frame-166-sFf .flavours--bhT {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3888888889;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.d-product-filters-BFF .color-P5b .frame-166-sFf .frame-165-W3j {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.d-product-filters-BFF .color-P5b .frame-166-sFf .frame-165-W3j .frame-163-eQq {
  margin-bottom: 2rem;
  width: 100%;
  height: 9.4rem;
  display: flex;
  column-gap: 2rem;
  align-items: center;
  flex-shrink: 0;
}
.d-product-filters-BFF .color-P5b .frame-166-sFf .frame-165-W3j .frame-163-eQq .frame-157-w93 {
  box-sizing: border-box;
  padding: 2rem 2.5rem;
  width: 12.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f1fff4;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.d-product-filters-BFF .color-P5b .frame-166-sFf .frame-165-W3j .frame-163-eQq .frame-157-w93 .frame-156-TNH {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.d-product-filters-BFF .color-P5b .frame-166-sFf .frame-165-W3j .frame-163-eQq .frame-157-w93 .frame-156-TNH .chocolate-DMT {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .color-P5b .frame-166-sFf .frame-165-W3j .frame-163-eQq .frame-157-w93 .frame-156-TNH .item-2899-MTf {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  color: #32794e;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .color-P5b .frame-166-sFf .frame-165-W3j .frame-163-eQq .frame-158-fDT {
  box-sizing: border-box;
  padding: 2rem 2.5rem;
  width: 17.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f1fff4;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.d-product-filters-BFF .color-P5b .frame-166-sFf .frame-165-W3j .frame-163-eQq .frame-158-fDT .frame-156-CUH {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.d-product-filters-BFF .color-P5b .frame-166-sFf .frame-165-W3j .frame-163-eQq .frame-158-fDT .frame-156-CUH .cookies-n-cream-mGV {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .color-P5b .frame-166-sFf .frame-165-W3j .frame-163-eQq .frame-158-fDT .frame-156-CUH .item-2899-tc1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  color: #32794e;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .color-P5b .frame-166-sFf .frame-165-W3j .frame-163-eQq .frame-159-QaM {
  box-sizing: border-box;
  padding: 2rem 2.5rem;
  width: 22.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f1fff4;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.d-product-filters-BFF .color-P5b .frame-166-sFf .frame-165-W3j .frame-163-eQq .frame-159-QaM .frame-156-ku7 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.d-product-filters-BFF .color-P5b .frame-166-sFf .frame-165-W3j .frame-163-eQq .frame-159-QaM .frame-156-ku7 .extreme-milk-chocolate-7jf {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .color-P5b .frame-166-sFf .frame-165-W3j .frame-163-eQq .frame-159-QaM .frame-156-ku7 .item-2899-3dK {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  color: #32794e;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .color-P5b .frame-166-sFf .frame-165-W3j .frame-163-eQq .frame-160-knd {
  box-sizing: border-box;
  padding: 2rem 2.5rem;
  width: 19rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f1fff4;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.d-product-filters-BFF .color-P5b .frame-166-sFf .frame-165-W3j .frame-163-eQq .frame-160-knd .frame-156-JJM {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.d-product-filters-BFF .color-P5b .frame-166-sFf .frame-165-W3j .frame-163-eQq .frame-160-knd .frame-156-JJM .mocha-cappuccino-s6Z {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .color-P5b .frame-166-sFf .frame-165-W3j .frame-163-eQq .frame-160-knd .frame-156-JJM .item-2899-cK3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  color: #32794e;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .color-P5b .frame-166-sFf .frame-165-W3j .frame-164-8YH {
  margin-right: 44.8rem;
  width: calc(100% - 44.8rem);
  height: 9.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.d-product-filters-BFF .color-P5b .frame-166-sFf .frame-165-W3j .frame-164-8YH .frame-161-fYD {
  margin-right: 2rem;
  box-sizing: border-box;
  padding: 2rem 2.6rem 2rem 2.5rem;
  width: 17.2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f1fff4;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.d-product-filters-BFF .color-P5b .frame-166-sFf .frame-165-W3j .frame-164-8YH .frame-161-fYD .frame-156-zaV {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.d-product-filters-BFF .color-P5b .frame-166-sFf .frame-165-W3j .frame-164-8YH .frame-161-fYD .frame-156-zaV .vanilla-icecream-Yru {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .color-P5b .frame-166-sFf .frame-165-W3j .frame-164-8YH .frame-161-fYD .frame-156-zaV .item-2899-5rq {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  color: #32794e;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .color-P5b .frame-166-sFf .frame-165-W3j .frame-164-8YH .frame-162-CwT {
  box-sizing: border-box;
  padding: 2rem 2.5rem;
  width: 13.3rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f1fff4;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.d-product-filters-BFF .color-P5b .frame-166-sFf .frame-165-W3j .frame-164-8YH .frame-162-CwT .frame-156-A7b {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.d-product-filters-BFF .color-P5b .frame-166-sFf .frame-165-W3j .frame-164-8YH .frame-162-CwT .frame-156-A7b .strawberry-KmB {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .color-P5b .frame-166-sFf .frame-165-W3j .frame-164-8YH .frame-162-CwT .frame-156-A7b .item-2899-sXo {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  color: #32794e;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .product-description-krV {
  box-sizing: border-box;
  padding: 2.5rem;
  width: 69.5rem;
  height: 41.5rem;
  position: absolute;
  left: 30rem;
  top: 184.1rem;
  border: solid 0.1rem #bdbdbd;
  border-radius: 1.5rem;
}
.d-product-filters-BFF .product-description-krV .content-FoF {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.d-product-filters-BFF .product-description-krV .content-FoF .product-description--nYH {
  margin-bottom: 2.8rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .product-description-krV .content-FoF .list-7aZ {
  width: 100%;
  row-gap: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-product-filters-BFF .product-description-krV .content-FoF .list-7aZ .item-2-Ssj {
  box-sizing: border-box;
  padding-right: 29.1rem;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: flex-start;
  border: solid 0.1rem #dddddd;
  flex-shrink: 0;
}
.d-product-filters-BFF .product-description-krV .content-FoF .list-7aZ .item-2-Ssj .brand--BaR {
  margin-right: 15.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .product-description-krV .content-FoF .list-7aZ .item-2-Ssj .optimum-nutrition-uFX {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .product-description-krV .content-FoF .list-7aZ .item-3-Qxy {
  box-sizing: border-box;
  padding-right: 37.1rem;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: flex-start;
  border: solid 0.1rem #dddddd;
  flex-shrink: 0;
}
.d-product-filters-BFF .product-description-krV .content-FoF .list-7aZ .item-3-Qxy .flavour--MdK {
  margin-right: 14.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .product-description-krV .content-FoF .list-7aZ .item-3-Qxy .chocolate-5JR {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .product-description-krV .content-FoF .list-7aZ .item-4-zwB {
  box-sizing: border-box;
  padding-right: 28.3rem;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: flex-start;
  border: solid 0.1rem #dddddd;
  flex-shrink: 0;
}
.d-product-filters-BFF .product-description-krV .content-FoF .list-7aZ .item-4-zwB .diet-type--9JH {
  margin-right: 13.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .product-description-krV .content-FoF .list-7aZ .item-4-zwB .vegetraian-gluten-free-Gdo {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .product-description-krV .content-FoF .list-7aZ .item-5-PTX {
  box-sizing: border-box;
  padding-right: 40.1rem;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: flex-start;
  border: solid 0.1rem #dddddd;
  flex-shrink: 0;
}
.d-product-filters-BFF .product-description-krV .content-FoF .list-7aZ .item-5-PTX .protein-source--Ldf {
  margin-right: 9.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .product-description-krV .content-FoF .list-7aZ .item-5-PTX .whey-GGR {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .product-description-krV .content-FoF .list-7aZ .item-6-o1T {
  box-sizing: border-box;
  padding-right: 34.8rem;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: flex-start;
  border: solid 0.1rem #dddddd;
  flex-shrink: 0;
}
.d-product-filters-BFF .product-description-krV .content-FoF .list-7aZ .item-6-o1T .net-quantity--YDw {
  margin-right: 10.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .product-description-krV .content-FoF .list-7aZ .item-6-o1T .grams-fpM {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .product-description-krV .content-FoF .list-7aZ .item-7-PkM {
  box-sizing: border-box;
  padding-right: 37.5rem;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: flex-start;
  border: solid 0.1rem #dddddd;
  flex-shrink: 0;
}
.d-product-filters-BFF .product-description-krV .content-FoF .list-7aZ .item-7-PkM .item-weight--fC5 {
  margin-right: 11.3rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .product-description-krV .content-FoF .list-7aZ .item-7-PkM .pounds-NcH {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .product-description-krV .content-FoF .list-7aZ .item-9-HjF {
  box-sizing: border-box;
  padding-right: 35.6rem;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: flex-start;
  border: solid 0.1rem #dddddd;
  flex-shrink: 0;
}
.d-product-filters-BFF .product-description-krV .content-FoF .list-7aZ .item-9-HjF .r-qEy {
  margin-right: 5.7rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .product-description-krV .content-FoF .list-7aZ .item-9-HjF .pre-workout-Pvh {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .product-description-krV .content-FoF .list-7aZ .item-10-XX7 {
  box-sizing: border-box;
  padding-right: 35.4rem;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: flex-start;
  border: solid 0.1rem #dddddd;
  flex-shrink: 0;
}
.d-product-filters-BFF .product-description-krV .content-FoF .list-7aZ .item-10-XX7 .r-GzV {
  margin-right: 10.8rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .product-description-krV .content-FoF .list-7aZ .item-10-XX7 .bottled-pack-Qau {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  letter-spacing: 0.014rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .features-HPo {
  box-sizing: border-box;
  padding: 2.5rem 2.5rem 3.5rem 2.5rem;
  width: 37rem;
  height: 14rem;
  position: absolute;
  left: 103rem;
  top: 184.1rem;
  border: solid 0.1rem #bdbdbd;
  background-color: #ffffff;
  border-radius: 1.5rem;
}
.d-product-filters-BFF .features-HPo .content-nbT {
  width: 27.5rem;
  height: 100%;
}
.d-product-filters-BFF .features-HPo .content-nbT .features--LN5 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.d-product-filters-BFF .features-HPo .content-nbT .positive-ratings-from-50k-customers-50k-recent-orders-from-this-brand-UUH {
  max-width: 27.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.d-product-filters-BFF .services-LmP {
  box-sizing: border-box;
  padding: 2.5rem 2.5rem 4.5rem 2.5rem;
  width: 37rem;
  height: 16.9rem;
  position: absolute;
  left: 103rem;
  top: 201.6rem;
  border: solid 0.1rem #bdbdbd;
  border-radius: 1.5rem;
}
.d-product-filters-BFF .services-LmP .content-4SV {
  width: 22.9rem;
  height: 100%;
}
.d-product-filters-BFF .services-LmP .content-4SV .services--pAm {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.d-product-filters-BFF .services-LmP .content-4SV .days-return-conditions-applied-superfast-delivery-available-cash-on-delivery-available-Z8M {
  max-width: 22.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.d-product-filters-BFF .frame-106-cMX {
  box-sizing: border-box;
  padding-bottom: 45.7rem;
  width: 30.1rem;
  height: 104.3086rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #ddf7e3;
  box-shadow: inset -0.2rem 0.1rem 0.2rem #ddf7e3), 0.3rem 0.3rem 0.6rem rgba(190, 234, 194, 0.5);
  background-color: #ffffff;
}
.d-product-filters-BFF .frame-106-cMX .frame-105-8qf {
  width: 21.6rem;
  height: 16.5281rem;
  position: relative;
}
.d-product-filters-BFF .frame-106-cMX .frame-105-8qf .group-tK3 {
  opacity: 0.2;
  width: 21.6rem;
  height: 16.5281rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.d-product-filters-BFF .frame-106-cMX .frame-105-8qf .healthybite-piV {
  width: 9.7rem;
  height: 3.4rem;
  position: absolute;
  left: 7.5rem;
  top: 3.0086rem;
  font-size: 2.4892rem;
  font-weight: 400;
  line-height: 1.3475;
  letter-spacing: 0.0996rem;
  color: #32794e;
  font-family: Abril Fatface, 'Source Sans Pro';
  white-space: nowrap;
}
.d-product-filters-BFF .frame-106-cMX .d-sidemenu-i3B {
  margin-left: 5.1rem;
  width: 24rem;
  row-gap: 1.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.d-product-filters-BFF .frame-106-cMX .d-sidemenu-i3B .dashboard-dfw {
  box-sizing: border-box;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  width: 100%;
  height: 5.7rem;
  cursor: pointer;
  border-radius: 1rem;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-106-cMX .d-sidemenu-i3B .dashboard-dfw .frame-49-MM3 {
  width: 11.3rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.d-product-filters-BFF .frame-106-cMX .d-sidemenu-i3B .dashboard-dfw .frame-49-MM3 .distributor-menu-icons-75K {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-106-cMX .d-sidemenu-i3B .dashboard-dfw .frame-49-MM3 .dashboard-dpM {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #252525;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-106-cMX .d-sidemenu-i3B .products-Zi1 {
  box-sizing: border-box;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  width: 100%;
  height: 5.7rem;
  box-shadow: inset -0.1rem -0.2rem 0.4rem rgba(190, 234, 194, 0.8000000119)), 0 0.2rem 0.5rem #ddf7e3;
  background-color: #f1fff4;
  border-radius: 1rem;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-106-cMX .d-sidemenu-i3B .products-Zi1 .frame-49-J9o {
  width: 10.1rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.d-product-filters-BFF .frame-106-cMX .d-sidemenu-i3B .products-Zi1 .frame-49-J9o .distributor-menu-icons-FKw {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-106-cMX .d-sidemenu-i3B .products-Zi1 .frame-49-J9o .dashboard-PS9 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #32794e;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-106-cMX .d-sidemenu-i3B .sales-4YH {
  box-sizing: border-box;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  width: 100%;
  height: 5.7rem;
  cursor: pointer;
  border-radius: 1rem;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-106-cMX .d-sidemenu-i3B .sales-4YH .frame-49-oEy {
  width: 6.9rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.d-product-filters-BFF .frame-106-cMX .d-sidemenu-i3B .sales-4YH .frame-49-oEy .distributor-menu-icons-YTT {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-106-cMX .d-sidemenu-i3B .sales-4YH .frame-49-oEy .dashboard-V7o {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #252525;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-106-cMX .d-sidemenu-i3B .profile-Pys {
  box-sizing: border-box;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  width: 100%;
  height: 5.7rem;
  cursor: pointer;
  border-radius: 1rem;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-106-cMX .d-sidemenu-i3B .profile-Pys .frame-49-KsX {
  width: 7.9rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.d-product-filters-BFF .frame-106-cMX .d-sidemenu-i3B .profile-Pys .frame-49-KsX .distributor-menu-icons-HJZ {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-106-cMX .d-sidemenu-i3B .profile-Pys .frame-49-KsX .dashboard-2G9 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #252525;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-106-cMX .d-sidemenu-i3B .add-MZK {
  box-sizing: border-box;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  width: 100%;
  height: 5.7rem;
  cursor: pointer;
  border-radius: 1rem;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-106-cMX .d-sidemenu-i3B .add-MZK .frame-49-VfX {
  width: 13.1rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.d-product-filters-BFF .frame-106-cMX .d-sidemenu-i3B .add-MZK .frame-49-VfX .distributor-menu-icons-T6Z {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-product-filters-BFF .frame-106-cMX .d-sidemenu-i3B .add-MZK .frame-49-VfX .dashboard-BoF {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #252525;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
