
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.forget-password-hxd {
  width: 100%;
  height: 96rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.forget-password-hxd .rectangle-33-FUM {
  width: 88.1rem;
  height: 96rem;
  position: absolute;
  left: 73.9rem;
  top: 0;
  background: linear-gradient(270.17deg, #ffffff 2.26%, rgba(255, 255, 255, 0) 21.05%);
  background-size: 178.099% 100.017%;
  background-position: -0rem -0.0081rem;
  background-image: url('../assets/rectangle-33-bg-RUM.png');
}
.forget-password-hxd .rectangle-33-FUM .rectangle-33-FUM-bg {
  width: 88.1rem;
  height: 96rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:e625a317942964d48c1d7ee5e86a6725500a7f27');
}
.forget-password-hxd .rectangle-20-HA9 {
  width: 172.4rem;
  height: 52.35rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.forget-password-hxd .rectangle-21-ouB {
  width: 208.25rem;
  height: 46.3rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.forget-password-hxd .nav-text-items-m5K {
  width: 48.8858rem;
  height: 5.0096rem;
  position: absolute;
  left: 4.5142rem;
  top: 2.5904rem;
  display: flex;
  align-items: flex-end;
}
.forget-password-hxd .nav-text-items-m5K .group-1-tfj {
  margin: 0rem 6.5rem 0.425rem 0rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.forget-password-hxd .nav-text-items-m5K .group-1-tfj .healthybite-2mw {
  margin-right: 4.2394rem;
  font-size: 2.4892rem;
  font-weight: 400;
  line-height: 1.3475;
  letter-spacing: 0.0996rem;
  color: #32794e;
  font-family: Abril Fatface, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forget-password-hxd .nav-text-items-m5K .group-1-tfj .group-kC9 {
  margin-top: 0.7349rem;
  width: 4.6465rem;
  height: 3.8494rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.forget-password-hxd .nav-text-items-m5K .features-gLh {
  margin-right: 6.5rem;
  width: 10.2rem;
  height: 4.7rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.35;
  color: #616161;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.forget-password-hxd .nav-text-items-m5K .blogs-ZfP {
  width: 7.1rem;
  height: 4.7rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.35;
  color: #616161;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.forget-password-hxd .frame-4-57w {
  width: 43.9rem;
  height: 34rem;
  position: absolute;
  left: 15rem;
  top: 20rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.forget-password-hxd .frame-4-57w .heading-CiM {
  margin: 0rem 2.45rem 5rem 2.45rem;
  width: calc(100% - 4.9rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.forget-password-hxd .frame-4-57w .heading-CiM .forget-password-LJm {
  margin-bottom: 1.5rem;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.3571428571;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forget-password-hxd .frame-4-57w .heading-CiM .enter-an-email-id-associated-with-your-account-rnu {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  color: #424242;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forget-password-hxd .frame-4-57w .form-MzZ {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.forget-password-hxd .frame-4-57w .form-MzZ .buttons-KwP {
  margin-bottom: 2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.forget-password-hxd .frame-4-57w .form-MzZ .buttons-KwP .email-button-HNR {
  margin-bottom: 5rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.forget-password-hxd .frame-4-57w .form-MzZ .buttons-KwP .email-button-HNR .email-dx5 {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forget-password-hxd .frame-4-57w .form-MzZ .buttons-KwP .email-button-HNR .box-asK {
  box-sizing: border-box;
  padding: 1.3rem 1.5rem 1.3rem 1.5rem;
  width: 100%;
  height: 4.5rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #e0e0e0;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.forget-password-hxd .frame-4-57w .form-MzZ .buttons-KwP .email-button-HNR .box-asK .text-iyX {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.forget-password-hxd .frame-4-57w .form-MzZ .buttons-KwP .email-button-HNR .box-asK .text-iyX .abcgmailcom-6Ks {
  margin: 0rem 28rem 0rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3571428571;
  color: #e0e0e0;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forget-password-hxd .frame-4-57w .form-MzZ .buttons-KwP .email-button-HNR .box-asK .text-iyX .group-DfP {
  width: 2.6rem;
  height: 1.5889rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.forget-password-hxd .frame-4-57w .form-MzZ .buttons-KwP .resrt-button-LED {
  width: 100%;
  height: 4.5rem;
  overflow: hidden;
  position: relative;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3888888889;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #32794e;
  border-radius: 1rem;
  flex-shrink: 0;
}
.forget-password-hxd .frame-4-57w .form-MzZ .you-will-shortly-receive-an-email-with-further-instructions-QUy {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #616161;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
