
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.choose-plan-F9T {
  background-color: #ffffff;
  width: 100%;
  height: 96rem;
  position: relative;
  overflow: hidden;

  .rectangle-33-ahX {
    background-position: -0rem -0.0081rem;
    background-image: url('REPLACE_IMAGE:e625a317942964d48c1d7ee5e86a6725500a7f27');
    width: 88.1rem;
    height: 96rem;
    top: 0;
    background: linear-gradient(270.17deg, #ffffff 2.26%, rgba(255, 255, 255, 0) 21.05%);
    position: absolute;
    left: 73.9rem;
    background-size: 178.099% 100.017%;

    .rectangle-33-ahX-bg {
      position: relative;
      background-image: url('REPLACE_IMAGE:e625a317942964d48c1d7ee5e86a6725500a7f27');
      width: 88.1rem;
      height: 96rem;
    }
  }
  .rectangle-20-cPK {
    height: 52.35rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 172.4rem;
  }
  .rectangle-21-xCH {
    left: 0;
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 208.25rem;
    height: 46.3rem;
    position: absolute;
  }
  .nav-text-items-trd {
    left: 4.5143rem;
    top: 2.5904rem;
    display: flex;
    align-items: flex-end;
    width: 48.8857rem;
    height: 5.0096rem;
    position: absolute;

    .group-1-RLm {
      margin: 0rem 6.5rem 0.425rem 0rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .healthybite-YwB {
        margin-right: 4.2394rem;
        font-size: 2.4892rem;
        font-weight: 400;
        line-height: 1.3475;
        color: #32794e;
        font-family: Abril Fatface, 'Source Sans Pro';
        letter-spacing: 0.0996rem;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .group-ezD {
        flex-shrink: 0;
        margin-top: 0.7349rem;
        width: 4.6465rem;
        height: 3.8494rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .features-BDT {
      line-height: 1.35;
      white-space: nowrap;
      justify-content: center;
      font-size: 2rem;
      margin-right: 6.5rem;
      width: 10.2rem;
      height: 4.7rem;
      cursor: pointer;
      color: #616161;
      font-family: Open Sans, 'Source Sans Pro';
      display: flex;
      align-items: center;
      flex-shrink: 0;
      font-weight: 400;
    }
    .blogs-Twf {
      height: 4.7rem;
      font-size: 2rem;
      font-family: Open Sans, 'Source Sans Pro';
      display: flex;
      justify-content: center;
      width: 7.1rem;
      cursor: pointer;
      font-weight: 400;
      line-height: 1.35;
      color: #616161;
      white-space: nowrap;
      align-items: center;
      flex-shrink: 0;
    }
  }
  .frame-46-B6y {
    position: absolute;
    left: 18.7rem;
    top: 15rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 58.7rem;
    height: 60rem;

    .choose-your-plan-Wf3 {
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 7.7rem 5rem 0rem;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.375;
      color: #000000;
    }
    .frame-45-E5F {
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;
      display: flex;

      .frame-43-n6m {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 5rem;
        width: 100%;
        height: 22.8rem;

        .frame-41-8Ad {
          width: 23.1rem;
          height: 100%;
          cursor: pointer;
          position: relative;
          flex-shrink: 0;
          margin-right: 12.5rem;

          .frame-30-TTo {
            border-radius: 2rem;
            box-sizing: border-box;
            width: 23.1rem;
            height: 19.9rem;
            overflow: hidden;
            background-color: #ffffff;
            box-shadow: -0.2rem 0.4rem 0.6rem #bdbdbd;
            padding: 2.15rem 3.1rem 2.15rem 3.2rem;
            position: absolute;
            left: 0;
            top: 2.9rem;
            border: solid 0.1rem #beeac2;

            .frame-28-aHX {
              flex-direction: column;
              width: 100%;
              height: 100%;
              row-gap: 1.5rem;
              align-items: center;
              display: flex;

              .months-vcH {
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.1rem;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.35;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
              }
              .rectangle-39-fJy {
                flex-shrink: 0;
                margin: 0rem 0.5rem 0rem 0.4rem;
                width: calc(100% - 0.9rem);
                height: 0.2rem;
                background: radial-gradient(50% 50% at 50% 50%, #32794e 0%, rgba(50, 121, 78, 0) 100%);
              }
              .frame-27-Ydf {
                width: calc(100% - 5.9rem);
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin: 0rem 3rem 0rem 2.9rem;

                .item-4900-UXK {
                  flex-shrink: 0;
                  font-size: 3.2rem;
                  font-weight: 700;
                  line-height: 1.375;
                  color: #32794e;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .per-month-oJh {
                  font-weight: 400;
                  line-height: 1.3571428571;
                  color: #9e9e9e;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                }
              }
              .billed-209900-quarterly-LJd {
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.3571428571;
                color: #424242;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .frame-29-QZP {
            overflow: hidden;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            align-items: center;
            height: 4.1rem;
            position: absolute;
            left: 3.4rem;
            color: #ffffff;
            width: 16.3rem;
            top: 0;
            font-weight: 400;
            line-height: 1.3888888889;
            justify-content: center;
            background-color: #db2f38;
            border-radius: 1rem;
            font-size: 1.8rem;
          }
        }
        .frame-41-5vR {
          width: 23.1rem;
          height: 100%;
          cursor: pointer;
          position: relative;
          flex-shrink: 0;

          .frame-30-3MT {
            overflow: hidden;
            border-radius: 2rem;
            padding: 2.15rem 3.1rem 2.15rem 3.2rem;
            width: 23.1rem;
            position: absolute;
            top: 2.9rem;
            box-shadow: -0.2rem 0.4rem 0.6rem #bdbdbd;
            background-color: #ffffff;
            box-sizing: border-box;
            height: 19.9rem;
            left: 0;
            border: solid 0.1rem #beeac2;

            .frame-28-kmf {
              height: 100%;
              row-gap: 1.5rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              width: 100%;

              .months-VjF {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.35;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.1rem;
              }
              .rectangle-39-qHK {
                margin: 0rem 0.5rem 0rem 0.4rem;
                width: calc(100% - 0.9rem);
                height: 0.2rem;
                background: radial-gradient(50% 50% at 50% 50%, #32794e 0%, rgba(50, 121, 78, 0) 100%);
                flex-shrink: 0;
              }
              .frame-27-7Vj {
                margin: 0rem 3rem 0rem 2.9rem;
                width: calc(100% - 5.9rem);
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .item-4900-FM3 {
                  color: #32794e;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 3.2rem;
                  font-weight: 700;
                  line-height: 1.375;
                }
                .per-month-z3j {
                  font-weight: 400;
                  line-height: 1.3571428571;
                  color: #9e9e9e;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                }
              }
              .billed-209900-quarterly-vTB {
                color: #424242;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.3571428571;
              }
            }
          }
          .frame-29-cL1 {
            position: absolute;
            font-size: 1.8rem;
            white-space: nowrap;
            left: 3.4rem;
            top: 0;
            line-height: 1.3888888889;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            height: 4.1rem;
            overflow: hidden;
            display: flex;
            align-items: center;
            border-radius: 1rem;
            width: 16.3rem;
            font-weight: 400;
            justify-content: center;
            background-color: #db2f38;
          }
        }
      }
      .frame-44-6FB {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 7.6rem;
        width: calc(100% - 7.6rem);
        height: 22.8rem;

        .frame-41-dku {
          height: 100%;
          cursor: pointer;
          position: relative;
          flex-shrink: 0;
          margin-right: 4.9rem;
          width: 23.1rem;

          .frame-30-nNu {
            padding: 2.15rem 3.1rem 2.15rem 3.2rem;
            height: 19.9rem;
            left: 0;
            top: 2.9rem;
            overflow: hidden;
            border: solid 0.1rem #beeac2;
            box-shadow: -0.2rem 0.4rem 0.6rem #bdbdbd;
            background-color: #ffffff;
            border-radius: 2rem;
            box-sizing: border-box;
            width: 23.1rem;
            position: absolute;

            .frame-28-uTX {
              flex-direction: column;
              width: 100%;
              height: 100%;
              row-gap: 1.5rem;
              align-items: center;
              display: flex;

              .months-SyF {
                font-weight: 700;
                line-height: 1.35;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.1rem;
                font-size: 2rem;
              }
              .rectangle-39-zE5 {
                margin: 0rem 0.5rem 0rem 0.4rem;
                width: calc(100% - 0.9rem);
                height: 0.2rem;
                background: radial-gradient(50% 50% at 50% 50%, #32794e 0%, rgba(50, 121, 78, 0) 100%);
                flex-shrink: 0;
              }
              .frame-27-VRj {
                flex-shrink: 0;
                margin: 0rem 3rem 0rem 2.9rem;
                width: calc(100% - 5.9rem);
                align-items: center;
                display: flex;
                flex-direction: column;

                .item-4900-qEh {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 3.2rem;
                  font-weight: 700;
                  line-height: 1.375;
                  color: #32794e;
                  font-family: Open Sans, 'Source Sans Pro';
                }
                .per-month-aCH {
                  color: #9e9e9e;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.3571428571;
                }
              }
              .billed-209900-quarterly-vG9 {
                color: #424242;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.3571428571;
              }
            }
          }
          .frame-29-1YV {
            left: 3.4rem;
            top: 0;
            overflow: hidden;
            justify-content: center;
            border-radius: 1rem;
            width: 16.3rem;
            white-space: nowrap;
            align-items: center;
            font-family: Open Sans, 'Source Sans Pro';
            display: flex;
            background-color: #db2f38;
            position: absolute;
            line-height: 1.3888888889;
            color: #ffffff;
            height: 4.1rem;
            font-size: 1.8rem;
            font-weight: 400;
          }
        }
        .frame-41-VyT {
          cursor: pointer;
          position: relative;
          flex-shrink: 0;
          width: 23.1rem;
          height: 100%;

          .frame-30-3zy {
            border-radius: 2rem;
            width: 23.1rem;
            position: absolute;
            left: 0;
            top: 2.9rem;
            overflow: hidden;
            border: solid 0.1rem #beeac2;
            box-shadow: -0.2rem 0.4rem 0.6rem #bdbdbd;
            box-sizing: border-box;
            padding: 2.15rem 3.1rem 2.15rem 3.2rem;
            height: 19.9rem;
            background-color: #ffffff;

            .frame-28-NXT {
              display: flex;
              flex-direction: column;
              width: 100%;
              height: 100%;
              row-gap: 1.5rem;
              align-items: center;

              .months-j77 {
                line-height: 1.35;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.1rem;
                font-size: 2rem;
                font-weight: 700;
              }
              .rectangle-39-Gcq {
                flex-shrink: 0;
                margin: 0rem 0.5rem 0rem 0.4rem;
                width: calc(100% - 0.9rem);
                height: 0.2rem;
                background: radial-gradient(50% 50% at 50% 50%, #32794e 0%, rgba(50, 121, 78, 0) 100%);
              }
              .frame-27-y1T {
                margin: 0rem 2.05rem 0rem 1.95rem;
                width: calc(100% - 4rem);
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .item-4900-77f {
                  color: #32794e;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 3.2rem;
                  font-weight: 700;
                  line-height: 1.375;
                }
                .per-month-ETB {
                  font-weight: 400;
                  line-height: 1.3571428571;
                  color: #9e9e9e;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                }
              }
              .billed-209900-quarterly-Ard {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.3571428571;
                color: #424242;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .frame-29-f2h {
            width: 16.3rem;
            height: 4.1rem;
            position: absolute;
            color: #ffffff;
            white-space: nowrap;
            display: flex;
            font-size: 1.8rem;
            left: 3.4rem;
            overflow: hidden;
            align-items: center;
            background-color: #db2f38;
            top: 0;
            font-weight: 400;
            line-height: 1.3888888889;
            font-family: Open Sans, 'Source Sans Pro';
            justify-content: center;
            border-radius: 1rem;
          }
        }
      }
    }
  }
}
