
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.choose-goals-oM3 {
  width: 100%;
  height: 96rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .rectangle-33-YJd {
    height: 96rem;
    left: 73.9rem;
    background: linear-gradient(270.17deg, #ffffff 2.26%, rgba(255, 255, 255, 0) 21.05%);
    background-size: 178.099% 100.017%;
    background-position: -0rem -0.0081rem;
    width: 88.1rem;
    position: absolute;
    top: 0;
    background-image: url('REPLACE_IMAGE:e625a317942964d48c1d7ee5e86a6725500a7f27');

    .rectangle-33-YJd-bg {
      height: 96rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:e625a317942964d48c1d7ee5e86a6725500a7f27');
      width: 88.1rem;
    }
  }
  .rectangle-20-mx5 {
    width: 172.4rem;
    height: 52.35rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
    vertical-align: top;
  }
  .rectangle-21-uoP {
    height: 46.3rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 208.25rem;
  }
  .nav-text-items-4AV {
    padding-top: 0.3096rem;
    width: 66.1rem;
    height: 5.0096rem;
    left: 3.4rem;
    top: 2.5904rem;
    display: flex;
    box-sizing: border-box;
    position: absolute;
    align-items: center;

    .ai-diet-NBB {
      flex-shrink: 0;
      font-size: 2.4892rem;
      font-weight: 400;
      line-height: 1.3475;
      letter-spacing: 0.0996rem;
      color: #32794e;
      font-family: Abril Fatface, 'Source Sans Pro';
      white-space: nowrap;
      margin-right: 21.4536rem;
      display: flex;
    }
    .group-std {
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 6.5rem 0rem 0rem;
      width: 4.6465rem;
      height: 3.8494rem;
    }
    .features-Cvu {
      font-size: 2rem;
      white-space: nowrap;
      display: flex;
      flex-shrink: 0;
      margin-right: 6.5rem;
      height: 100%;
      font-family: Open Sans, 'Source Sans Pro';
      justify-content: center;
      width: 10.2rem;
      font-weight: 400;
      align-items: center;
      cursor: pointer;
      color: #616161;
      line-height: 1.35;
    }
    .blogs-hsf {
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.35;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 7.1rem;
      cursor: pointer;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      justify-content: center;
      height: 100%;
      color: #616161;
    }
  }
  .frame-48-2Q9 {
    top: 15rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 52rem;
    height: 63.7rem;
    position: absolute;
    left: 15rem;

    .welcome-to-healthybite-MBX {
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 3rem 0.7rem;
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.375;
      color: #32794e;
    }
    .frame-26-ewK {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;
      row-gap: 5rem;

      .choose-your-goals-Chw {
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 1.3571428571;
        color: #252525;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .goals-LJM {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;
        row-gap: 4.1rem;

        .goals-gt1 {
          width: 100%;
          height: 6rem;
          overflow: hidden;
          border: solid 0.1rem #beeac2;
          box-sizing: border-box;
          box-shadow: 0.1rem 0.2rem 0.4rem #e0e0e0;
          background-color: rgba(241, 255, 244, 0.5);
          flex-shrink: 0;
          cursor: pointer;
          position: relative;
          border-radius: 1rem;

          .rectangle-34-EuX {
            border-radius: 1rem;
            width: 6.1rem;
            height: 6rem;
            position: absolute;
            left: 0;
            top: 0;
            filter: blur(1rem);
            background-color: #ddf7e3;
          }
          .frame-25-meZ {
            width: 48.4rem;
            height: 3.4rem;
            position: absolute;
            left: 1.3rem;
            top: 1.3rem;
            display: flex;
            align-items: center;

            .gain-weight-icon-i41 {
              margin-right: 2.5rem;
              width: 3.7rem;
              height: 3.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .frame-24-eCZ {
              margin: 0.45rem 0;
              height: calc(100% - 0.9rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .loose-weight-npZ {
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 21.3rem;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.3888888889;
                color: #000000;
              }
              .members-KpV {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.3571428571;
                color: #9e9e9e;
                font-family: Open Sans, 'Source Sans Pro';
              }
            }
          }
        }
        .goals-nxy {
          box-shadow: 0.1rem 0.2rem 0.4rem #e0e0e0;
          background-color: rgba(241, 255, 244, 0.5);
          border-radius: 1rem;
          width: 100%;
          height: 6rem;
          position: relative;
          overflow: hidden;
          border: solid 0.1rem #beeac2;
          flex-shrink: 0;
          box-sizing: border-box;

          .rectangle-34-wqs {
            top: 0;
            filter: blur(1rem);
            background-color: #ddf7e3;
            border-radius: 1rem;
            width: 6.1rem;
            height: 6rem;
            position: absolute;
            left: 0;
          }
          .frame-25-Uqo {
            align-items: center;
            width: 48.1611rem;
            height: 3.4rem;
            position: absolute;
            left: 1.3rem;
            top: 1.3rem;
            display: flex;

            .maintain-weight-icon-ch7 {
              margin-right: 2.5rem;
              width: 3.1611rem;
              height: 3.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .frame-24-kYR {
              margin: 0.45rem 0rem 0.45rem 0rem;
              height: calc(100% - 0.9rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .loose-weight-5ah {
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 21.2rem;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.3888888889;
              }
              .members-omb {
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.3571428571;
                color: #9e9e9e;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
        }
        .goals-5UD {
          position: relative;
          box-sizing: border-box;
          border-radius: 1rem;
          width: 100%;
          overflow: hidden;
          border: solid 0.1rem #beeac2;
          box-shadow: 0.1rem 0.2rem 0.4rem #e0e0e0;
          background-color: rgba(241, 255, 244, 0.5);
          flex-shrink: 0;
          height: 6rem;

          .rectangle-34-dkd {
            position: absolute;
            left: 0;
            top: 0;
            filter: blur(1rem);
            background-color: #ddf7e3;
            border-radius: 1rem;
            width: 6.1rem;
            height: 6rem;
          }
          .frame-25-mbw {
            left: 1.3rem;
            top: 1.3rem;
            display: flex;
            align-items: center;
            width: 48.5rem;
            height: 3.4rem;
            position: absolute;

            .gain-weight-icon-hkV {
              height: 3.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 2.5rem;
              width: 3.7rem;
            }
            .frame-24-r7b {
              margin: 0.45rem 0;
              height: calc(100% - 0.9rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .gain-weight-zjb {
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 22.1rem;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.3888888889;
              }
              .members-vt9 {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.3571428571;
                color: #9e9e9e;
                font-family: Open Sans, 'Source Sans Pro';
              }
            }
          }
        }
        .goals-bzH {
          height: 6rem;
          overflow: hidden;
          box-shadow: 0.1rem 0.2rem 0.4rem #e0e0e0;
          border-radius: 1rem;
          width: 100%;
          position: relative;
          border: solid 0.1rem #beeac2;
          box-sizing: border-box;
          background-color: rgba(241, 255, 244, 0.5);
          flex-shrink: 0;

          .rectangle-34-mds {
            background-color: #ddf7e3;
            border-radius: 1rem;
            width: 6.1rem;
            height: 6rem;
            position: absolute;
            left: 0;
            top: 0;
            filter: blur(1rem);
          }
          .frame-25-WLZ {
            align-items: center;
            width: 48.9rem;
            height: 3.4rem;
            position: absolute;
            left: 1.3rem;
            top: 1.3rem;
            display: flex;

            .gain-weight-icon-EnM {
              margin-right: 2.5rem;
              width: 3.7rem;
              height: 3.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .frame-24-Avu {
              align-items: center;
              flex-shrink: 0;
              margin: 0.45rem 0;
              height: calc(100% - 0.9rem);
              display: flex;

              .maintain-weight-7r9 {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.3888888889;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 19rem;
              }
              .members-TQD {
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.3571428571;
                color: #9e9e9e;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
        }
      }
      .next-button-vYh {
        font-size: 2rem;
        font-weight: 400;
        align-items: center;
        width: 100%;
        cursor: pointer;
        justify-content: center;
        background-color: #32794e;
        height: 5.1rem;
        overflow: hidden;
        position: relative;
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        border-radius: 1rem;
        line-height: 1.35;
        display: flex;
        flex-shrink: 0;
      }
    }
  }
}
