
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.d-product-filters-BFF {
  background-color: #f8fff9;
  width: 100%;
  height: 232.7rem;
  position: relative;
  overflow: hidden;

  .group-24-GXb {
    width: 202.2rem;
    height: 196.9359rem;
    position: absolute;
    left: 0;
    top: 35.8rem;
    object-fit: contain;
    vertical-align: top;
  }
  .rectangle-42-nVw {
    left: 28rem;
    box-sizing: border-box;
    box-shadow: inset -0.2rem -0.1rem 0.4rem #ddf7e3), inset 0.2rem 0.1rem 0.4rem #ddf7e3), 0 0.3rem 0.4rem #ddf7e3;
    border-radius: 1.5rem;
    width: 114rem;
    position: absolute;
    border: solid 0.1rem #ddf7e3;
    background-color: #ffffff;
    height: 278.1rem;
    top: 0;
  }
  .rectangle-121-2QH {
    vertical-align: top;
    border-radius: 1.5rem;
    width: 47.2rem;
    height: 28.1rem;
    position: absolute;
    left: 30rem;
    top: 4rem;
    object-fit: contain;
  }
  .optimum-nutrition-on-gold-standard-100-whey-2-lbs-907-g-double-rich-chocolate-protein-powder-for-muscle-support-recovery-vegetarian-primary-source-whey-isolate-jpV {
    font-weight: 700;
    line-height: 1.35;
    color: #000000;
    font-family: Open Sans, 'Source Sans Pro';
    width: 107.2rem;
    left: 30rem;
    top: 36.1rem;
    font-size: 2rem;
    height: 5.4rem;
    position: absolute;
  }
  .p-details-mFP {
    display: flex;
    align-items: center;
    width: 65.7rem;
    height: 2.2rem;
    position: absolute;
    left: 30rem;
    top: 43.5rem;

    .product-id-229fr1-tL1 {
      font-weight: 400;
      line-height: 1.375;
      color: #757575;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 10rem;
      font-size: 1.6rem;
    }
    .seller-adidas-19j {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.375;
      color: #757575;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 10.1rem;
    }
    .published-on-10-march-2022-Kw7 {
      color: #757575;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.375;
    }
  }
  .description-Fpm {
    position: absolute;
    top: 142.5rem;
    border: solid 0.1rem #bdbdbd;
    border-radius: 1.5rem;
    padding: 3.5rem 3.4rem 3.5rem 3.5rem;
    width: 110rem;
    height: 38.1rem;
    left: 30rem;
    background-color: #ffffff;
    box-sizing: border-box;

    .description-xz5 {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 25.1rem;

      .description--7ry {
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.5rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.35;
      }
      .gold-standard-100-whey-blend-24g-blended-protein-consisting-of-whey-protein-isolate-whey-protein-concentrate-and-whey-peptides-hydrolysates-to-support-lean-muscle-mass-primary-protein-source-is-isolate-they-dont-call-it-the-gold-standard-of-quality-for-nothing-what-does-it-have-11-grams-of-naturally-occurring-eaas-including-55-grams-of-naturally-occurring-bcaas-and-over-4-grams-of-naturally-occurring-glutamine-and-glutamic-acid-in-each-serving-to-support-endurance-and-muscle-recovery-gluten-free-suitable-for-vegetarians-authenticity-sms-us-your-6-digit-unique-code-on-the-pack-at-57575-to-instantly-test-the-authenticity-of-the-product-when-to-use-first-thing-in-the-morning-before-or-after-exercise-between-meals-with-a-meal-or-any-time-of-the-day-where-you-a-protein-boost-to-your-balanced-diet-banned-substance-tested-you-feel-comfortable-and-safe-consuming-the-product-informed-choice-certified-trusted-by-the-athletes-all-over-the-world-for-past-35-years-size-flavours-pick-your-size-from-1-2-5-pounds-and-10-pound-4kg-options-and-10-delicious-flavours-available-to-choose-from-most-reviewed-whey-protein-powder-by-sports-protein-powder-brand-optimum-nutrition-FyB {
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 103.1rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3571428571;
        color: #000000;
      }
    }
  }
  .rectangle-123-pB3 {
    position: absolute;
    left: 83.5rem;
    top: 6.1rem;
    object-fit: contain;
    vertical-align: top;
    width: 10rem;
    height: 8.3333rem;
  }
  .rectangle-126-Lv5 {
    position: absolute;
    left: 83.5rem;
    top: 19.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 10rem;
    height: 8.3333rem;
  }
  .rectangle-124-fSZ {
    vertical-align: top;
    width: 10rem;
    height: 8.3333rem;
    position: absolute;
    left: 101.6rem;
    top: 4rem;
    object-fit: contain;
  }
  .rectangle-125-QQ9 {
    height: 8.3333rem;
    position: absolute;
    left: 121.4rem;
    top: 4rem;
    object-fit: contain;
    vertical-align: top;
    width: 10rem;
  }
  .rectangle-127-YWM {
    position: absolute;
    left: 30rem;
    top: 48.9rem;
    background-color: #f5f5f5;
    border-radius: 1.5rem;
    width: 110rem;
    height: 10.6rem;
  }
  .rectangle-128-5mB {
    position: absolute;
    left: 30rem;
    top: 64.5rem;
    background-color: #f5f5f5;
    border-radius: 1.5rem;
    width: 110rem;
    height: 16rem;
  }
  .frame-154-E8H {
    position: absolute;
    left: 33.5rem;
    top: 68rem;
    display: flex;
    column-gap: 10rem;
    align-items: center;
    width: 86rem;
    height: 9rem;

    .frame-150-Myb {
      flex-shrink: 0;
      width: 10.8rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .frame-149-X7P {
        border-radius: 3rem;
        flex-shrink: 0;
        margin: 0rem 2.4rem 0.5rem 2.4rem;
        box-sizing: border-box;
        padding: 1.7rem 1rem 1.7rem 0.9rem;
        width: calc(100% - 4.8rem);
        box-shadow: 0 0.2rem 0.4rem #bdbdbd;
        background: linear-gradient(180deg, rgba(50, 121, 78, 0.2899999917) -0%, #6ba380 40.02%, #4b8b64 65.62%, #32794e 100%);

        .group-28-dw7 {
          height: 2.6rem;
          object-fit: contain;
          vertical-align: top;
          width: 4.1rem;
        }
      }
      .free-delivery-JXT {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3888888889;
        color: #252525;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .frame-151-SNm {
      width: 18.1rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .frame-149-zfB {
        padding: 0.8rem 1rem;
        width: calc(100% - 12.1rem);
        box-shadow: 0 0.2rem 0.4rem #bdbdbd;
        background: linear-gradient(180deg, rgba(50, 121, 78, 0.2899999917) -0%, #6ba380 40.02%, #4b8b64 65.62%, #32794e 100%);
        border-radius: 3rem;
        flex-shrink: 0;
        margin: 0rem 6.05rem 0.5rem 6.05rem;
        box-sizing: border-box;

        .group-29-Jfs {
          width: 4rem;
          height: 4.4rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .highly-recommended-yGD {
        font-weight: 400;
        line-height: 1.3888888889;
        color: #252525;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.8rem;
      }
    }
    .frame-152-uff {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 13.8rem;
      height: 100%;
      align-items: center;

      .frame-149-rqo {
        padding: 1.1rem 1.3rem 1.2rem 1.2rem;
        width: calc(100% - 7.8rem);
        box-shadow: 0 0.2rem 0.4rem #bdbdbd;
        background: linear-gradient(180deg, rgba(50, 121, 78, 0.2899999917) -0%, #6ba380 40.02%, #4b8b64 65.62%, #32794e 100%);
        border-radius: 3rem;
        flex-shrink: 0;
        margin: 0rem 3.9rem 0.5rem 3.9rem;
        box-sizing: border-box;

        .group-30-aWu {
          width: 3.5rem;
          height: 3.7rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .cash-on-delivery-4S5 {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3888888889;
        color: #252525;
        font-family: Open Sans, 'Source Sans Pro';
      }
    }
    .frame-153-CHP {
      width: 13.3rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .frame-149-kJu {
        border-radius: 3rem;
        flex-shrink: 0;
        margin: 0rem 3.65rem 0.5rem 3.65rem;
        box-sizing: border-box;
        padding: 0.9rem 0.85rem 0.9rem 0.95rem;
        width: calc(100% - 7.3rem);
        box-shadow: 0 0.2rem 0.4rem #bdbdbd;
        background: linear-gradient(180deg, rgba(50, 121, 78, 0.2899999917) -0%, #6ba380 40.02%, #4b8b64 65.62%, #32794e 100%);

        .group-31-rMw {
          width: 4.2rem;
          height: 4.2rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .non-refundable-w8V {
        line-height: 1.3888888889;
        color: #252525;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.8rem;
        font-weight: 400;
      }
    }
  }
  .frame-155-UPK {
    column-gap: 5.3rem;
    align-items: center;
    width: 85.9rem;
    height: 3.6rem;
    position: absolute;
    left: 33.65rem;
    top: 52.4rem;
    display: flex;

    .frame-137-PWH {
      width: 17.5rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .frame-144-YPB {
        margin: 0rem 0.45rem 0.7rem 0.45rem;
        width: calc(100% - 0.9rem);
        height: 2.7rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .frame-136-sAZ {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 1.8rem;
          height: 100%;

          .price--prV {
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3888888889;
            color: #757575;
          }
          .item-2899-mFw {
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.35;
            color: #32794e;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .price-icon-HVB {
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 2rem;
        }
      }
      .rectangle-122-RrH {
        width: 100%;
        height: 0.2rem;
        background: radial-gradient(50% 50% at 50% 50%, #beeac2 0%, rgba(190, 234, 194, 0) 100%);
        flex-shrink: 0;
      }
    }
    .frame-141-YR7 {
      flex-direction: column;
      flex-shrink: 0;
      width: 17.5rem;
      height: 100%;
      align-items: flex-end;
      display: flex;

      .frame-145-Vr9 {
        align-items: flex-start;
        flex-shrink: 0;
        margin: 0rem 0.7rem 0.7rem 2.15rem;
        width: calc(100% - 2.85rem);
        height: 2.7rem;
        display: flex;

        .frame-136-ptR {
          margin-right: 3.45rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .orders--Nuw {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3888888889;
            color: #757575;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1rem;
          }
          .item-21-KKP {
            font-weight: 700;
            line-height: 1.35;
            color: #198754;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
          }
        }
        .orders-icon-esT {
          width: 1.5rem;
          height: 2.1rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .rectangle-122-zgR {
        width: 100%;
        height: 0.2rem;
        background: radial-gradient(50% 50% at 50% 50%, #beeac2 0%, rgba(190, 234, 194, 0) 100%);
        flex-shrink: 0;
      }
    }
    .frame-142-i6d {
      width: 17.5rem;
      height: 100%;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .frame-146-SHX {
        align-items: flex-start;
        flex-shrink: 0;
        margin: 0rem 0.45rem 0.7rem 2.6rem;
        width: calc(100% - 3.0498rem);
        height: 2.7rem;
        display: flex;

        .frame-136-xmf {
          margin-right: 4.1501rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .stock--7eZ {
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3888888889;
            color: #757575;
          }
          .item-35-441 {
            font-weight: 700;
            line-height: 1.35;
            color: #198754;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
          }
        }
        .stock-zTT {
          vertical-align: top;
          flex-shrink: 0;
          width: 2.0001rem;
          height: 1.8889rem;
          object-fit: contain;
        }
      }
      .rectangle-122-95T {
        width: 100%;
        height: 0.2rem;
        background: radial-gradient(50% 50% at 50% 50%, #beeac2 0%, rgba(190, 234, 194, 0) 100%);
        flex-shrink: 0;
      }
    }
    .frame-143-Tbw {
      width: 17.5rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .frame-147-DLD {
        width: calc(100% - 0.85rem);
        height: 2.7rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin: 0rem 0.5rem 0.7rem 0.35rem;

        .frame-136-8xy {
          margin-right: 1.85rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .revenue--Hqs {
            line-height: 1.3888888889;
            color: #757575;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1rem;
            font-size: 1.8rem;
            font-weight: 400;
          }
          .item-62-dPw {
            color: #198754;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.35;
          }
        }
        .group-27-Aem {
          width: 1.9rem;
          height: 1.761rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .rectangle-122-7K7 {
        width: 100%;
        height: 0.2rem;
        background: radial-gradient(50% 50% at 50% 50%, #beeac2 0%, rgba(190, 234, 194, 0) 100%);
        flex-shrink: 0;
      }
    }
  }
  .size-zNu {
    padding: 3.5rem;
    height: 15.2rem;
    top: 85.5rem;
    box-sizing: border-box;
    width: 110rem;
    position: absolute;
    left: 30rem;
    background-color: #f5f5f5;
    border-radius: 1.5rem;

    .content-Hso {
      width: 32.3rem;
      height: 100%;

      .size--EY9 {
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.5rem;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.3888888889;
        color: #000000;
      }
      .size-list-M6y {
        display: flex;
        column-gap: 2rem;
        align-items: center;
        width: 100%;
        height: 4.2rem;

        .item-1-sb7 {
          flex-shrink: 0;
          height: 100%;
          font-size: 1.6rem;
          font-weight: 400;
          align-items: center;
          justify-content: center;
          background-color: #ffffff;
          border-radius: 1rem;
          color: #000000;
          white-space: nowrap;
          display: flex;
          position: relative;
          font-family: Open Sans, 'Source Sans Pro';
          width: 8.8rem;
          overflow: hidden;
          line-height: 1.375;
        }
        .item-2-unh {
          position: relative;
          line-height: 1.375;
          font-family: Open Sans, 'Source Sans Pro';
          background-color: #ffffff;
          border-radius: 1rem;
          height: 100%;
          white-space: nowrap;
          display: flex;
          font-size: 1.6rem;
          font-weight: 400;
          color: #000000;
          flex-shrink: 0;
          width: 10.4rem;
          align-items: center;
          justify-content: center;
          overflow: hidden;
        }
        .item-3-AyX {
          font-size: 1.6rem;
          line-height: 1.375;
          color: #000000;
          align-items: center;
          flex-shrink: 0;
          height: 100%;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          position: relative;
          font-weight: 400;
          display: flex;
          justify-content: center;
          border-radius: 1rem;
          width: 9.1rem;
          overflow: hidden;
          background-color: #ffffff;
        }
      }
    }
  }
  .color-P5b {
    box-sizing: border-box;
    height: 31.8rem;
    top: 105.7rem;
    border-radius: 1.5rem;
    padding: 3.5rem;
    width: 110rem;
    position: absolute;
    left: 30rem;
    border: solid 0.1rem #bdbdbd;
    background-color: #ffffff;

    .frame-166-sFf {
      width: 77.3rem;
      height: 100%;

      .flavours--bhT {
        line-height: 1.3888888889;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.5rem;
        font-size: 1.8rem;
        font-weight: 700;
      }
      .frame-165-W3j {
        width: 100%;
        display: flex;
        flex-direction: column;

        .frame-163-eQq {
          width: 100%;
          height: 9.4rem;
          display: flex;
          column-gap: 2rem;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 2rem;

          .frame-157-w93 {
            padding: 2rem 2.5rem;
            position: relative;
            border-radius: 1.5rem;
            flex-shrink: 0;
            box-sizing: border-box;
            width: 12.5rem;
            height: 100%;
            overflow: hidden;
            background-color: #f1fff4;

            .frame-156-TNH {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;

              .chocolate-DMT {
                margin-bottom: 0.5rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.375;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-2899-MTf {
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.35;
                color: #32794e;
              }
            }
          }
          .frame-158-fDT {
            padding: 2rem 2.5rem;
            width: 17.4rem;
            height: 100%;
            background-color: #f1fff4;
            border-radius: 1.5rem;
            flex-shrink: 0;
            box-sizing: border-box;
            position: relative;
            overflow: hidden;

            .frame-156-CUH {
              height: 100%;
              display: flex;
              flex-direction: column;
              width: 100%;

              .cookies-n-cream-mGV {
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.5rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.375;
              }
              .item-2899-tc1 {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.35;
                color: #32794e;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .frame-159-QaM {
            box-sizing: border-box;
            background-color: #f1fff4;
            flex-shrink: 0;
            padding: 2rem 2.5rem;
            width: 22.4rem;
            height: 100%;
            overflow: hidden;
            position: relative;
            border-radius: 1.5rem;

            .frame-156-ku7 {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;

              .extreme-milk-chocolate-7jf {
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.5rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.375;
              }
              .item-2899-3dK {
                line-height: 1.35;
                color: #32794e;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2rem;
                font-weight: 700;
              }
            }
          }
          .frame-160-knd {
            height: 100%;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 2rem 2.5rem;
            width: 19rem;
            background-color: #f1fff4;
            border-radius: 1.5rem;

            .frame-156-JJM {
              height: 100%;
              display: flex;
              flex-direction: column;
              width: 100%;

              .mocha-cappuccino-s6Z {
                margin-bottom: 0.5rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.375;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-2899-cK3 {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.35;
                color: #32794e;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
        }
        .frame-164-8YH {
          flex-shrink: 0;
          margin-right: 44.8rem;
          width: calc(100% - 44.8rem);
          height: 9.4rem;
          display: flex;
          align-items: center;

          .frame-161-fYD {
            flex-shrink: 0;
            margin-right: 2rem;
            padding: 2rem 2.6rem 2rem 2.5rem;
            width: 17.2rem;
            height: 100%;
            position: relative;
            background-color: #f1fff4;
            box-sizing: border-box;
            overflow: hidden;
            border-radius: 1.5rem;

            .frame-156-zaV {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;

              .vanilla-icecream-Yru {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.375;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.5rem;
              }
              .item-2899-5rq {
                flex-shrink: 0;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.35;
                color: #32794e;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .frame-162-CwT {
            box-sizing: border-box;
            padding: 2rem 2.5rem;
            width: 13.3rem;
            background-color: #f1fff4;
            border-radius: 1.5rem;
            height: 100%;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;

            .frame-156-A7b {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;

              .strawberry-KmB {
                line-height: 1.375;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.5rem;
                font-size: 1.6rem;
                font-weight: 400;
              }
              .item-2899-sXo {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.35;
                color: #32794e;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
        }
      }
    }
  }
  .product-description-krV {
    box-sizing: border-box;
    padding: 2.5rem;
    height: 41.5rem;
    left: 30rem;
    border-radius: 1.5rem;
    width: 69.5rem;
    position: absolute;
    top: 184.1rem;
    border: solid 0.1rem #bdbdbd;

    .content-FoF {
      height: 100%;
      display: flex;
      flex-direction: column;
      width: 100%;

      .product-description--nYH {
        font-weight: 700;
        line-height: 1.35;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 2.8rem;
        font-size: 2rem;
      }
      .list-7aZ {
        width: 100%;
        row-gap: 1rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .item-2-Ssj {
          display: flex;
          align-items: flex-start;
          border: solid 0.1rem #dddddd;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-right: 29.1rem;
          width: 100%;
          height: 3rem;

          .brand--BaR {
            margin-right: 15.6rem;
            line-height: 1.3571428571;
            letter-spacing: 0.014rem;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
          }
          .optimum-nutrition-uFX {
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.3571428571;
            letter-spacing: 0.014rem;
          }
        }
        .item-3-Qxy {
          padding-right: 37.1rem;
          width: 100%;
          height: 3rem;
          display: flex;
          align-items: flex-start;
          border: solid 0.1rem #dddddd;
          flex-shrink: 0;
          box-sizing: border-box;

          .flavour--MdK {
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 14.5rem;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.3571428571;
            letter-spacing: 0.014rem;
            color: #000000;
            flex-shrink: 0;
          }
          .chocolate-5JR {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.3571428571;
            letter-spacing: 0.014rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
          }
        }
        .item-4-zwB {
          flex-shrink: 0;
          box-sizing: border-box;
          padding-right: 28.3rem;
          width: 100%;
          height: 3rem;
          display: flex;
          align-items: flex-start;
          border: solid 0.1rem #dddddd;

          .diet-type--9JH {
            font-size: 1.4rem;
            line-height: 1.3571428571;
            letter-spacing: 0.014rem;
            white-space: nowrap;
            margin-right: 13.4rem;
            font-weight: 700;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .vegetraian-gluten-free-Gdo {
            letter-spacing: 0.014rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.3571428571;
          }
        }
        .item-5-PTX {
          width: 100%;
          height: 3rem;
          display: flex;
          align-items: flex-start;
          border: solid 0.1rem #dddddd;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-right: 40.1rem;

          .protein-source--Ldf {
            font-weight: 700;
            line-height: 1.3571428571;
            letter-spacing: 0.014rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 9.5rem;
            flex-shrink: 0;
            font-size: 1.4rem;
          }
          .whey-GGR {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.3571428571;
            letter-spacing: 0.014rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .item-6-o1T {
          align-items: flex-start;
          border: solid 0.1rem #dddddd;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-right: 34.8rem;
          width: 100%;
          height: 3rem;
          display: flex;

          .net-quantity--YDw {
            line-height: 1.3571428571;
            font-family: Open Sans, 'Source Sans Pro';
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
            letter-spacing: 0.014rem;
            color: #000000;
            white-space: nowrap;
            margin-right: 10.5rem;
          }
          .grams-fpM {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.3571428571;
            letter-spacing: 0.014rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .item-7-PkM {
          height: 3rem;
          display: flex;
          align-items: flex-start;
          border: solid 0.1rem #dddddd;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-right: 37.5rem;
          width: 100%;

          .item-weight--fC5 {
            margin-right: 11.3rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.3571428571;
            letter-spacing: 0.014rem;
          }
          .pounds-NcH {
            line-height: 1.3571428571;
            letter-spacing: 0.014rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
          }
        }
        .item-9-HjF {
          box-sizing: border-box;
          padding-right: 35.6rem;
          width: 100%;
          height: 3rem;
          display: flex;
          align-items: flex-start;
          border: solid 0.1rem #dddddd;
          flex-shrink: 0;

          .r-qEy {
            font-size: 1.4rem;
            line-height: 1.3571428571;
            letter-spacing: 0.014rem;
            flex-shrink: 0;
            margin-right: 5.7rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            font-weight: 700;
          }
          .pre-workout-Pvh {
            font-weight: 400;
            line-height: 1.3571428571;
            letter-spacing: 0.014rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
          }
        }
        .item-10-XX7 {
          display: flex;
          align-items: flex-start;
          border: solid 0.1rem #dddddd;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-right: 35.4rem;
          width: 100%;
          height: 3rem;

          .r-GzV {
            font-size: 1.4rem;
            letter-spacing: 0.014rem;
            color: #000000;
            flex-shrink: 0;
            white-space: nowrap;
            margin-right: 10.8rem;
            font-weight: 700;
            line-height: 1.3571428571;
            font-family: Open Sans, 'Source Sans Pro';
          }
          .bottled-pack-Qau {
            line-height: 1.3571428571;
            letter-spacing: 0.014rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
          }
        }
      }
    }
  }
  .features-HPo {
    top: 184.1rem;
    border: solid 0.1rem #bdbdbd;
    border-radius: 1.5rem;
    left: 103rem;
    padding: 2.5rem 2.5rem 3.5rem 2.5rem;
    width: 37rem;
    height: 14rem;
    position: absolute;
    background-color: #ffffff;
    box-sizing: border-box;

    .content-nbT {
      width: 27.5rem;
      height: 100%;

      .features--LN5 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.35;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.5rem;
      }
      .positive-ratings-from-50k-customers-50k-recent-orders-from-this-brand-UUH {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3571428571;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        max-width: 27.5rem;
      }
    }
  }
  .services-LmP {
    box-sizing: border-box;
    height: 16.9rem;
    left: 103rem;
    border: solid 0.1rem #bdbdbd;
    border-radius: 1.5rem;
    padding: 2.5rem 2.5rem 4.5rem 2.5rem;
    width: 37rem;
    position: absolute;
    top: 201.6rem;

    .content-4SV {
      width: 22.9rem;
      height: 100%;

      .services--pAm {
        margin-bottom: 1.5rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.35;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
      .days-return-conditions-applied-superfast-delivery-available-cash-on-delivery-available-Z8M {
        font-weight: 400;
        line-height: 1.3571428571;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        max-width: 22.9rem;
        font-size: 1.4rem;
      }
    }
  }
  .frame-106-cMX {
    box-sizing: border-box;
    padding-bottom: 45.7rem;
    width: 30.1rem;
    left: 0;
    top: 0;
    border: solid 0.1rem #ddf7e3;
    height: 104.3086rem;
    position: absolute;
    box-shadow: inset -0.2rem 0.1rem 0.2rem #ddf7e3), 0.3rem 0.3rem 0.6rem rgba(190, 234, 194, 0.5);
    background-color: #ffffff;

    .frame-105-8qf {
      width: 21.6rem;
      height: 16.5281rem;
      position: relative;

      .group-tK3 {
        height: 16.5281rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        opacity: 0.2;
        width: 21.6rem;
      }
      .healthybite-piV {
        top: 3.0086rem;
        line-height: 1.3475;
        letter-spacing: 0.0996rem;
        width: 9.7rem;
        height: 3.4rem;
        position: absolute;
        color: #32794e;
        font-family: Abril Fatface, 'Source Sans Pro';
        white-space: nowrap;
        left: 7.5rem;
        font-size: 2.4892rem;
        font-weight: 400;
      }
    }
    .d-sidemenu-i3B {
      margin-left: 5.1rem;
      width: 24rem;
      row-gap: 1.5rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .dashboard-dfw {
        width: 100%;
        height: 5.7rem;
        cursor: pointer;
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.5rem 1.5rem 2rem 1.5rem;

        .frame-49-MM3 {
          width: 11.3rem;
          height: 100%;
          display: flex;
          align-items: center;

          .distributor-menu-icons-75K {
            margin-right: 1rem;
            width: 2rem;
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .dashboard-dpM {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.375;
            color: #252525;
            font-family: Open Sans, 'Source Sans Pro';
          }
        }
      }
      .products-Zi1 {
        width: 100%;
        height: 5.7rem;
        box-shadow: inset -0.1rem -0.2rem 0.4rem rgba(190, 234, 194, 0.8000000119)), 0 0.2rem 0.5rem #ddf7e3;
        background-color: #f1fff4;
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.5rem 1.5rem 2rem 1.5rem;

        .frame-49-J9o {
          width: 10.1rem;
          height: 100%;
          display: flex;
          align-items: center;

          .distributor-menu-icons-FKw {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2rem;
            height: 2rem;
          }
          .dashboard-PS9 {
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.375;
            color: #32794e;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .sales-4YH {
        box-sizing: border-box;
        padding: 1.5rem 1.5rem 2rem 1.5rem;
        width: 100%;
        height: 5.7rem;
        cursor: pointer;
        border-radius: 1rem;
        flex-shrink: 0;

        .frame-49-oEy {
          height: 100%;
          display: flex;
          align-items: center;
          width: 6.9rem;

          .distributor-menu-icons-YTT {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2rem;
            height: 2rem;
          }
          .dashboard-V7o {
            line-height: 1.375;
            color: #252525;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
          }
        }
      }
      .profile-Pys {
        padding: 1.5rem 1.5rem 2rem 1.5rem;
        width: 100%;
        height: 5.7rem;
        cursor: pointer;
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;

        .frame-49-KsX {
          display: flex;
          align-items: center;
          width: 7.9rem;
          height: 100%;

          .distributor-menu-icons-HJZ {
            margin-right: 1rem;
            width: 2rem;
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .dashboard-2G9 {
            font-weight: 400;
            line-height: 1.375;
            color: #252525;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
          }
        }
      }
      .add-MZK {
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.5rem 1.5rem 2rem 1.5rem;
        width: 100%;
        height: 5.7rem;
        cursor: pointer;

        .frame-49-VfX {
          display: flex;
          align-items: center;
          width: 13.1rem;
          height: 100%;

          .distributor-menu-icons-T6Z {
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2rem;
          }
          .dashboard-BoF {
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.375;
            color: #252525;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
  }
}
