
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.login-KdT {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 96rem;

  .rectangle-33-eQq {
    position: absolute;
    left: 74rem;
    top: 0;
    background: linear-gradient(270.17deg, #ffffff 2.26%, rgba(255, 255, 255, 0) 21.05%);
    background-position: -0rem -0.0081rem;
    background-image: url('REPLACE_IMAGE:e625a317942964d48c1d7ee5e86a6725500a7f27');
    width: 88.1rem;
    height: 96rem;
    background-size: 178.099% 100.017%;

    .rectangle-33-eQq-bg {
      position: relative;
      background-image: url('REPLACE_IMAGE:e625a317942964d48c1d7ee5e86a6725500a7f27');
      width: 88.1rem;
      height: 96rem;
    }
  }
  .rectangle-20-F9j {
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 172.4rem;
    height: 52.35rem;
    position: absolute;
    left: 0;
  }
  .rectangle-21-Zw7 {
    width: 208.25rem;
    height: 46.3rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
    vertical-align: top;
  }
  .nav-text-items-hnR {
    height: 5.0096rem;
    position: absolute;
    left: 4.5142rem;
    top: 2.5904rem;
    display: flex;
    align-items: flex-end;
    width: 48.8858rem;

    .group-1-ps3 {
      margin: 0rem 6.5rem 0.425rem 0rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .healthybite-kkh {
        font-weight: 400;
        letter-spacing: 0.0996rem;
        font-family: Abril Fatface, 'Source Sans Pro';
        margin-right: 4.2394rem;
        font-size: 2.4892rem;
        line-height: 1.3475;
        color: #32794e;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .group-FhT {
        width: 4.6465rem;
        height: 3.8494rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.7349rem;
      }
    }
    .features-aUq {
      margin-right: 6.5rem;
      height: 4.7rem;
      font-weight: 400;
      display: flex;
      flex-shrink: 0;
      cursor: pointer;
      color: #616161;
      font-family: Open Sans, 'Source Sans Pro';
      align-items: center;
      width: 10.2rem;
      line-height: 1.35;
      font-size: 2rem;
      white-space: nowrap;
      justify-content: center;
    }
    .blogs-3tD {
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      line-height: 1.35;
      cursor: pointer;
      font-weight: 400;
      color: #616161;
      display: flex;
      flex-shrink: 0;
      width: 7.1rem;
      height: 4.7rem;
    }
  }
  .form-xkH {
    flex-direction: column;
    width: 43.9rem;
    height: 57.2rem;
    position: absolute;
    top: 15rem;
    row-gap: 4rem;
    align-items: center;
    left: 15.1rem;
    display: flex;

    .login-5a1 {
      font-weight: 700;
      line-height: 1.3571428571;
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.8rem;
    }
    .frame-20-2EM {
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;
      align-items: flex-end;
      display: flex;

      .details-B7F {
        flex-shrink: 0;
        margin-bottom: 5rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .email-button-8YH {
          margin-bottom: 4rem;
          width: 100%;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .email-gZo {
            font-weight: 400;
            line-height: 1.3888888889;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            font-size: 1.8rem;
          }
          .box-DJq {
            height: 4.5rem;
            background-color: #ffffff;
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.3rem 1.5rem 1.3rem 1.5rem;
            position: relative;
            border: solid 0.1rem #e0e0e0;
            width: 100%;
            overflow: hidden;

            .text-LuF {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: flex-end;

              .abcgmailcom-WYq {
                line-height: 1.3571428571;
                color: #e0e0e0;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 28rem 0rem 0rem;
                font-size: 1.4rem;
                font-weight: 400;
              }
              .group-ddT {
                height: 1.5889rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 2.6rem;
              }
            }
          }
        }
        .pswd-w8M {
          width: 100%;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .passwordbutton-hNR {
            margin-bottom: 0.6rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .password-F93 {
              margin-bottom: 0.5rem;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3888888889;
              color: #000000;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .box-yqj {
              padding: 0rem 1.4rem 0rem 1.5rem;
              height: 4.5rem;
              position: relative;
              border: solid 0.1rem #e0e0e0;
              background-color: #ffffff;
              box-sizing: border-box;
              width: 100%;
              overflow: hidden;
              border-radius: 1rem;
              flex-shrink: 0;

              .text-KPo {
                height: 3.8rem;
                display: flex;
                align-items: flex-end;
                width: 100%;

                .item--UXb {
                  flex-shrink: 0;
                  margin-right: 28rem;
                  font-size: 2.8rem;
                  font-weight: 700;
                  line-height: 1.3571428571;
                  color: #e0e0e0;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .password-icon-Bgu {
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 0.1839rem;
                  width: 2.6rem;
                  height: 1.5rem;
                }
              }
            }
          }
          .forget-passwprd-Uvu {
            cursor: pointer;
            text-align: center;
            color: #000000;
            align-items: center;
            flex-shrink: 0;
            width: 12.2rem;
            white-space: nowrap;
            justify-content: center;
            font-size: 1.4rem;
            line-height: 1.3571428571;
            font-family: Open Sans, 'Source Sans Pro';
            display: flex;
            height: 1.9rem;
            font-weight: 400;
          }
        }
      }
      .frame-19-AYq {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 43.8rem;
        row-gap: 2rem;
        align-items: center;

        .login-button-hYm {
          cursor: pointer;
          position: relative;
          font-size: 2rem;
          white-space: nowrap;
          background-color: #32794e;
          border-radius: 1rem;
          width: 100%;
          overflow: hidden;
          font-weight: 400;
          font-family: Open Sans, 'Source Sans Pro';
          line-height: 1.35;
          color: #ffffff;
          flex-shrink: 0;
          height: 4.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .or-continue-with-zXs {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.35;
          color: #616161;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .frame-18-jVT {
          column-gap: 5rem;
          align-items: center;
          flex-shrink: 0;
          margin: 0 4.4rem;
          width: calc(100% - 8.8rem);
          height: 5rem;
          display: flex;

          .frame-14-TgM {
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
            width: 5rem;
            height: 5rem;
            object-fit: contain;
          }
          .frame-15-c3T {
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
            width: 5rem;
            height: 5rem;
            object-fit: contain;
          }
          .frame-16-M13 {
            box-sizing: border-box;
            height: 100%;
            background-color: #f1fff4;
            border-radius: 1rem;
            flex-shrink: 0;
            padding: 1rem;
            overflow: hidden;
            position: relative;
            border: solid 0.1rem #ddf7e3;
            box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.25);

            .pngwing-20-hqb {
              width: 3rem;
              height: 3rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
          .frame-17-CGZ {
            height: 100%;
            overflow: hidden;
            border: solid 0.1rem #ddf7e3;
            box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #f1fff4;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1rem;
            position: relative;
            border-radius: 1rem;

            .pngwing-21-wjw {
              vertical-align: top;
              width: 3rem;
              height: 3rem;
              object-fit: cover;
            }
          }
        }
      }
    }
    .text-2mP {
      flex-shrink: 0;
      margin: 0rem 7.9rem 0rem 8.4rem;
      width: calc(100% - 16.3rem);
      height: 2.7rem;
      display: flex;
      align-items: flex-end;

      .dont-have-an-account-M2y {
        flex-shrink: 0;
        margin-right: 1rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3888888889;
        color: #616161;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
      .sigin-sGD {
        line-height: 1.35;
        color: #32794e;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        box-sizing: border-box;
        padding-left: 0.3rem;
        cursor: pointer;
        font-weight: 400;
        height: 100%;
        font-size: 2rem;
        flex-shrink: 0;
      }
    }
  }
}
