
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128.6rem;
}.navigation-bar-z5F {
  align-items: flex-end;
  box-sizing: border-box;
  padding-left: 1.1142rem;
  width: 100%;
  display: flex;

  .nav-text-items-vUh {
    margin-right: 54.8rem;
    height: 5.0096rem;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;

    .group-1-s93 {
      flex-shrink: 0;
      margin: 0rem 6.5rem 0.425rem 0rem;
      display: flex;
      align-items: flex-start;

      .healthybite-Cx1 {
        margin-right: 4.2394rem;
        font-size: 2.4892rem;
        line-height: 1.3475;
        letter-spacing: 0.0996rem;
        color: #32794e;
        flex-shrink: 0;
        font-weight: 400;
        font-family: Abril Fatface, 'Source Sans Pro';
        white-space: nowrap;
      }
      .group-KWq {
        width: 4.6465rem;
        height: 3.8494rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.7349rem;
      }
    }
    .features-T7F {
      margin-right: 6.5rem;
      font-weight: 400;
      line-height: 1.35;
      cursor: pointer;
      font-family: Open Sans, 'Source Sans Pro';
      justify-content: center;
      width: 10.2rem;
      font-size: 2rem;
      white-space: nowrap;
      display: flex;
      align-items: center;
      height: 4.7rem;
      color: #616161;
      flex-shrink: 0;
    }
    .blogs-wo7 {
      height: 4.7rem;
      font-weight: 400;
      line-height: 1.35;
      color: #616161;
      display: flex;
      justify-content: center;
      flex-shrink: 0;
      width: 7.1rem;
      cursor: pointer;
      font-size: 2rem;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
    }
  }
  .buttons-rv5 {
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 0.2rem;
    height: 4.5rem;
    display: flex;

    .login-button-DEq {
      cursor: pointer;
      box-shadow: -0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
      margin-right: 5rem;
      overflow: hidden;
      position: relative;
      font-family: Open Sans, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
      border-radius: 0.8063rem;
      flex-shrink: 0;
      width: 8.6rem;
      height: 100%;
      font-weight: 400;
      display: flex;
      font-size: 1.8rem;
      line-height: 1.3888888889;
      color: #424242;
      white-space: nowrap;
    }
    .signin-button-t65 {
      height: 100%;
      font-size: 1.8rem;
      font-weight: 400;
      color: #424242;
      font-family: Open Sans, 'Source Sans Pro';
      border: solid 0.0806rem #32794e;
      overflow: hidden;
      line-height: 1.3888888889;
      align-items: center;
      border-radius: 0.8063rem;
      box-shadow: -0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
      width: 10.2rem;
      cursor: pointer;
      position: relative;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      flex-shrink: 0;
    }
  }
}
