
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 10.7rem;
}.sigin-w2q {
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  padding: 2rem;
  width: 100%;
  position: relative;
  display: flex;
  border-radius: 0.5rem;

  .property-1default-tTs {
    font-size: 2rem;
    font-weight: 400;
    color: #32794e;
    white-space: nowrap;
    margin-bottom: 1.8rem;
    box-sizing: border-box;
    padding-left: 0.3rem;
    width: 100%;
    cursor: pointer;
    line-height: 1.35;
    font-family: Open Sans, 'Source Sans Pro';
    flex-shrink: 0;
  }
  .property-1hover-Bhs {
    line-height: 1.35;
    color: #32794e;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
  }
}
