
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 13.7rem;
}.signin-button-Fz1 {
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  box-sizing: border-box;
  padding: 3.1rem 1.5rem 1.5rem 2rem;
  width: 100%;
  display: flex;
  border-radius: 0.5rem;

  .property-1default-zAu {
    overflow: hidden;
    color: #424242;
    font-family: Open Sans, 'Source Sans Pro';
    display: flex;
    flex-shrink: 0;
    border-radius: 0.8063rem;
    width: 100%;
    height: 4.5rem;
    position: relative;
    font-weight: 400;
    box-shadow: -0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 3.9rem;
    cursor: pointer;
    font-size: 1.8rem;
    line-height: 1.3888888889;
    align-items: center;
    white-space: nowrap;
    border: solid 0.0806rem #32794e;
  }
  .property-1hover-dUm {
    justify-content: center;
    border: solid 0.0806rem #32794e;
    font-weight: 400;
    color: #424242;
    font-family: Open Sans, 'Source Sans Pro';
    display: flex;
    position: relative;
    box-shadow: -0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ddf7e3;
    margin-bottom: 3.6rem;
    width: 100%;
    height: 4.5rem;
    overflow: hidden;
    cursor: pointer;
    align-items: center;
    border-radius: 0.8063rem;
    flex-shrink: 0;
    font-size: 1.8rem;
    line-height: 1.3888888889;
    white-space: nowrap;
    box-sizing: border-box;
  }
  .property-1onclick-gxq {
    flex-shrink: 0;
    width: 100%;
    position: relative;
    font-size: 1.8rem;
    color: #252525;
    white-space: nowrap;
    box-sizing: border-box;
    line-height: 1.3888888889;
    font-family: Open Sans, 'Source Sans Pro';
    display: flex;
    border: solid 0.0806rem #32794e;
    box-shadow: -0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
    height: 4.5rem;
    overflow: hidden;
    font-weight: 400;
    background-color: #beeac2;
    border-radius: 0.8063rem;
  }
}
