
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.welcome-JVX {
  width: 100%;
  height: 96rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .rectangle-33-r1F {
    width: 88.1rem;
    background-size: 178.099% 100.017%;
    background-position: -0rem -0.0081rem;
    background-image: url('REPLACE_IMAGE:e625a317942964d48c1d7ee5e86a6725500a7f27');
    background: linear-gradient(270.17deg, #ffffff 2.26%, rgba(255, 255, 255, 0) 21.05%);
    height: 96rem;
    position: absolute;
    left: 73.9rem;
    top: 0;

    .rectangle-33-r1F-bg {
      width: 88.1rem;
      height: 96rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:e625a317942964d48c1d7ee5e86a6725500a7f27');
    }
  }
  .rectangle-20-HcM {
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 172.4rem;
    height: 52.35rem;
    position: absolute;
    left: 0;
  }
  .rectangle-21-RTf {
    left: 0;
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 208.25rem;
    height: 46.3rem;
    position: absolute;
  }
  .nav-text-items-xyP {
    top: 2.5904rem;
    display: flex;
    align-items: flex-end;
    width: 48.8859rem;
    height: 5.0096rem;
    position: absolute;
    left: 4.5141rem;

    .group-1-ViR {
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 6.5rem 0.425rem 0rem;
      display: flex;

      .healthybite-Evu {
        flex-shrink: 0;
        font-weight: 400;
        line-height: 1.3475;
        color: #32794e;
        font-family: Abril Fatface, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 4.2395rem;
        font-size: 2.4892rem;
        letter-spacing: 0.0996rem;
      }
      .group-keM {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.7349rem;
        width: 4.6465rem;
        height: 3.8494rem;
      }
    }
    .features-HeH {
      cursor: pointer;
      line-height: 1.35;
      align-items: center;
      margin-right: 6.5rem;
      height: 4.7rem;
      font-size: 2rem;
      color: #616161;
      white-space: nowrap;
      width: 10.2rem;
      font-weight: 400;
      font-family: Open Sans, 'Source Sans Pro';
      display: flex;
      flex-shrink: 0;
      justify-content: center;
    }
    .blogs-yX7 {
      flex-shrink: 0;
      color: #616161;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      align-items: center;
      line-height: 1.35;
      justify-content: center;
      width: 7.1rem;
      height: 4.7rem;
      cursor: pointer;
      font-size: 2rem;
      font-weight: 400;
    }
  }
  .frame-23-hCD {
    top: 30rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 47.9rem;
    height: 27.5rem;
    position: absolute;
    left: 13.5rem;

    .group-EC9 {
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 4rem 0rem;
      width: 21.7269rem;
      height: 18rem;
    }
    .welcome-to-healthybite-kwB {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.375;
      color: #32794e;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}
